@require '../tag'

.-badged
    position relative
    overflow visible

    > .badge
        @extend .tag
        position absolute
        right 0px
        top 0px
        transform translate(25%,-25%)
        font-size 75%
        pill()