.-closeable
	position relative
	
	.close
		border-radius inherit
		position absolute
		right 0.75em
		top 0.75em
		padding 0em 0.25em
		opacity 0.5
		border-radius inherit
		center()
		&::before
			@extend .ico::before, .ico-close:before
			
		
		&:hover
			opacity 1
			background-color rgba(0, 0, 0, 0.1)
		&:active
			background-color rgba(0, 0, 0, 0.2)