@require '../spinner'

.-loading
	position relative
	pointer-events none
	
	&::before
		background-color white
		transition transition
		content ''
		position absolute
		top 0px
		right 0px
		bottom 0px
		left 0px
		background-color rgba(255, 255, 255, 0.4)
		z-index 1
	
	&::after
		@extend .spinner
		position absolute
		top calc(50% - 0.5em)
		left calc(50% - 0.5em)
		z-index 2
