//
// Main scrollable variant
// --------------------------------------------------

.-scrollable
	overflow auto
	
	&.-y
		overflow-x hidden
		overflow-y auto
	
	&.-x
		overflow-x auto
		overflow-y hidden