for type, data in font.type
	if data.folder != null
		@font-face
			font-family: data.label
			src "url(%s) format('truetype')" % (data.folder + '/' + data.label+'-Regular.ttf')
			font-weight normal
			font-style normal
		
		@font-face
			font-family: data.label
			src "url(%s) format('truetype')" % (data.folder + '/' + data.label+'-Italic.ttf')
			font-style italic
		
		@font-face
			font-family: data.label
			src "url(%s) format('truetype')" % (data.folder + '/' + data.label+'-Light.ttf')
			font-weight 300
		
		@font-face
			font-family: data.label
			src "url(%s) format('truetype')" % (data.folder + '/' + data.label+'-Bold.ttf')
			font-weight 600