//
// Updating base browser styles
// ----------------------------------------

html,
body
	width 100%
	height 100%
	line-height 1.5

// Use CSS3 box-sizing
*, *:before, *:after
	box-sizing border-box
	outline none
	transition .2s ease
	
[disabled], .-disabled
	opacity 0.6
	pointer-events none
	
	>
		pointer-events none