/* MaterialDesignIcons.com */
@font-face 
	font-family: font.icon.label
	src: "url(%s)" % (font.icon.folder+'/'+font.icon.file+'.eot') format("embedded-opentype"),
		"url(%s)" % (font.icon.folder+'/'+font.icon.file+'.woff2') format("woff2"), 
		"url(%s)" % (font.icon.folder+'/'+font.icon.file+'.woff') format("woff"), 
		"url(%s)" % (font.icon.folder+'/'+font.icon.file+'.ttf') format("truetype"), 
		"url(%s)" % (font.icon.folder+'/'+font.icon.file+'.svg') format("svg")
	font-weight normal
	font-style normal

.ico::before,
	display inline-block
	font-family: font.icon.label
	font-size inherit
	font-style normal
	text-rendering auto
	line-height inherit
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	transform translate(0, 0)

.ico-dark 
	color rgba(0, 0, 0, 0.54)
.ico-dark.ico-inactive 
	color rgba(0, 0, 0, 0.26)

.ico-light 
	color white
.ico-light.ico-inactive 
	color rgba(255, 255, 255, 0.3)

.ico-rotate-45 
	-webkit-transform rotate(45deg)
	-ms-transform rotate(45deg)
	transform rotate(45deg)

.ico-rotate-90 
	-webkit-transform rotate(90deg)
	-ms-transform rotate(90deg)
	transform rotate(90deg)

.ico-rotate-135 
	-webkit-transform rotate(135deg)
	-ms-transform rotate(135deg)
	transform rotate(135deg)

.ico-rotate-180 
	-webkit-transform rotate(180deg)
	-ms-transform rotate(180deg)
	transform rotate(180deg)

.ico-rotate-225 
	-webkit-transform rotate(225deg)
	-ms-transform rotate(225deg)
	transform rotate(225deg)

.ico-rotate-270 
	-webkit-transform rotate(270deg)
	-ms-transform rotate(270deg)
	transform rotate(270deg)

.ico-rotate-315 
	-webkit-transform rotate(315deg)
	-ms-transform rotate(315deg)
	transform rotate(315deg)

.ico-flip-horizontal 
	-webkit-transform scaleX(-1)
	transform scaleX(-1)
	filter FlipH
	-ms-filter "FlipH"

.ico-flip-vertical 
	-webkit-transform scaleY(-1)
	transform scaleY(-1)
	filter FlipV
	-ms-filter "FlipV"

.ico-access-point:before 
	content "\F002"

.ico-access-point-network:before 
	content "\F003"

.ico-account:before 
	content "\F004"

.ico-account-alert:before 
	content "\F005"

.ico-account-box:before 
	content "\F006"

.ico-account-box-outline:before 
	content "\F007"

.ico-account-card-details:before 
	content "\F5D2"

.ico-account-check:before 
	content "\F008"

.ico-account-circle:before 
	content "\F009"

.ico-account-convert:before 
	content "\F00A"

.ico-account-edit:before 
	content "\F6BB"

.ico-account-key:before 
	content "\F00B"

.ico-account-location:before 
	content "\F00C"

.ico-account-minus:before 
	content "\F00D"

.ico-account-multiple:before 
	content "\F00E"

.ico-account-multiple-minus:before 
	content "\F5D3"

.ico-account-multiple-outline:before 
	content "\F00F"

.ico-account-multiple-plus:before 
	content "\F010"

.ico-account-network:before 
	content "\F011"

.ico-account-off:before 
	content "\F012"

.ico-account-outline:before 
	content "\F013"

.ico-account-plus:before 
	content "\F014"

.ico-account-remove:before 
	content "\F015"

.ico-account-search:before 
	content "\F016"

.ico-account-settings:before 
	content "\F630"

.ico-account-settings-variant:before 
	content "\F631"

.ico-account-star:before 
	content "\F017"

.ico-account-star-variant:before 
	content "\F018"

.ico-account-switch:before 
	content "\F019"

.ico-adjust:before 
	content "\F01A"

.ico-air-conditioner:before 
	content "\F01B"

.ico-airballoon:before 
	content "\F01C"

.ico-airplane:before 
	content "\F01D"

.ico-airplane-landing:before 
	content "\F5D4"

.ico-airplane-off:before 
	content "\F01E"

.ico-airplane-takeoff:before 
	content "\F5D5"

.ico-airplay:before 
	content "\F01F"

.ico-alarm:before 
	content "\F020"

.ico-alarm-check:before 
	content "\F021"

.ico-alarm-multiple:before 
	content "\F022"

.ico-alarm-off:before 
	content "\F023"

.ico-alarm-plus:before 
	content "\F024"

.ico-alarm-snooze:before 
	content "\F68D"

.ico-album:before 
	content "\F025"

.ico-alert:before 
	content "\F026"

.ico-alert-box:before 
	content "\F027"

.ico-alert-circle:before 
	content "\F028"

.ico-alert-circle-outline:before 
	content "\F5D6"

.ico-alert-octagon:before 
	content "\F029"

.ico-alert-octagram:before 
	content "\F6BC"

.ico-alert-outline:before 
	content "\F02A"

.ico-all-inclusive:before 
	content "\F6BD"

.ico-alpha:before 
	content "\F02B"

.ico-alphabetical:before 
	content "\F02C"

.ico-altimeter:before 
	content "\F5D7"

.ico-amazon:before 
	content "\F02D"

.ico-amazon-clouddrive:before 
	content "\F02E"

.ico-ambulance:before 
	content "\F02F"

.ico-amplifier:before 
	content "\F030"

.ico-anchor:before 
	content "\F031"

.ico-android:before 
	content "\F032"

.ico-android-debug-bridge:before 
	content "\F033"

.ico-android-studio:before 
	content "\F034"

.ico-angular:before 
	content "\F6B1"

.ico-angularjs:before 
	content "\F6BE"

.ico-animation:before 
	content "\F5D8"

.ico-apple:before 
	content "\F035"

.ico-apple-finder:before 
	content "\F036"

.ico-apple-ios:before 
	content "\F037"

.ico-apple-keyboard-caps:before 
	content "\F632"

.ico-apple-keyboard-command:before 
	content "\F633"

.ico-apple-keyboard-control:before 
	content "\F634"

.ico-apple-keyboard-option:before 
	content "\F635"

.ico-apple-keyboard-shift:before 
	content "\F636"

.ico-apple-mobileme:before 
	content "\F038"

.ico-apple-safari:before 
	content "\F039"

.ico-application:before 
	content "\F614"

.ico-apps:before 
	content "\F03B"

.ico-archive:before 
	content "\F03C"

.ico-arrange-bring-forward:before 
	content "\F03D"

.ico-arrange-bring-to-front:before 
	content "\F03E"

.ico-arrange-send-backward:before 
	content "\F03F"

.ico-arrange-send-to-back:before 
	content "\F040"

.ico-arrow-all:before 
	content "\F041"

.ico-arrow-bottom-left:before 
	content "\F042"

.ico-arrow-bottom-right:before 
	content "\F043"

.ico-arrow-compress:before 
	content "\F615"

.ico-arrow-compress-all:before 
	content "\F044"

.ico-arrow-down:before 
	content "\F045"

.ico-arrow-down-bold:before 
	content "\F046"

.ico-arrow-down-bold-circle:before 
	content "\F047"

.ico-arrow-down-bold-circle-outline:before 
	content "\F048"

.ico-arrow-down-bold-hexagon-outline:before 
	content "\F049"

.ico-arrow-down-box:before 
	content "\F6BF"

.ico-arrow-down-drop-circle:before 
	content "\F04A"

.ico-arrow-down-drop-circle-outline:before 
	content "\F04B"

.ico-arrow-expand:before 
	content "\F616"

.ico-arrow-expand-all:before 
	content "\F04C"

.ico-arrow-left:before 
	content "\F04D"

.ico-arrow-left-bold:before 
	content "\F04E"

.ico-arrow-left-bold-circle:before 
	content "\F04F"

.ico-arrow-left-bold-circle-outline:before 
	content "\F050"

.ico-arrow-left-bold-hexagon-outline:before 
	content "\F051"

.ico-arrow-left-box:before 
	content "\F6C0"

.ico-arrow-left-drop-circle:before 
	content "\F052"

.ico-arrow-left-drop-circle-outline:before 
	content "\F053"

.ico-arrow-right:before 
	content "\F054"

.ico-arrow-right-bold:before 
	content "\F055"

.ico-arrow-right-bold-circle:before 
	content "\F056"

.ico-arrow-right-bold-circle-outline:before 
	content "\F057"

.ico-arrow-right-bold-hexagon-outline:before 
	content "\F058"

.ico-arrow-right-box:before 
	content "\F6C1"

.ico-arrow-right-drop-circle:before 
	content "\F059"

.ico-arrow-right-drop-circle-outline:before 
	content "\F05A"

.ico-arrow-top-left:before 
	content "\F05B"

.ico-arrow-top-right:before 
	content "\F05C"

.ico-arrow-up:before 
	content "\F05D"

.ico-arrow-up-bold:before 
	content "\F05E"

.ico-arrow-up-bold-circle:before 
	content "\F05F"

.ico-arrow-up-bold-circle-outline:before 
	content "\F060"

.ico-arrow-up-bold-hexagon-outline:before 
	content "\F061"

.ico-arrow-up-box:before 
	content "\F6C2"

.ico-arrow-up-drop-circle:before 
	content "\F062"

.ico-arrow-up-drop-circle-outline:before 
	content "\F063"

.ico-assistant:before 
	content "\F064"

.ico-asterisk:before 
	content "\F6C3"

.ico-at:before 
	content "\F065"

.ico-attachment:before 
	content "\F066"

.ico-audiobook:before 
	content "\F067"

.ico-auto-fix:before 
	content "\F068"

.ico-auto-upload:before 
	content "\F069"

.ico-autorenew:before 
	content "\F06A"

.ico-av-timer:before 
	content "\F06B"

.ico-baby:before 
	content "\F06C"

.ico-baby-buggy:before 
	content "\F68E"

.ico-backburger:before 
	content "\F06D"

.ico-backspace:before 
	content "\F06E"

.ico-backup-restore:before 
	content "\F06F"

.ico-bandcamp:before 
	content "\F674"

.ico-bank:before 
	content "\F070"

.ico-barcode:before 
	content "\F071"

.ico-barcode-scan:before 
	content "\F072"

.ico-barley:before 
	content "\F073"

.ico-barrel:before 
	content "\F074"

.ico-basecamp:before 
	content "\F075"

.ico-basket:before 
	content "\F076"

.ico-basket-fill:before 
	content "\F077"

.ico-basket-unfill:before 
	content "\F078"

.ico-battery:before 
	content "\F079"

.ico-battery-10:before 
	content "\F07A"

.ico-battery-20:before 
	content "\F07B"

.ico-battery-30:before 
	content "\F07C"

.ico-battery-40:before 
	content "\F07D"

.ico-battery-50:before 
	content "\F07E"

.ico-battery-60:before 
	content "\F07F"

.ico-battery-70:before 
	content "\F080"

.ico-battery-80:before 
	content "\F081"

.ico-battery-90:before 
	content "\F082"

.ico-battery-alert:before 
	content "\F083"

.ico-battery-charging:before 
	content "\F084"

.ico-battery-charging-100:before 
	content "\F085"

.ico-battery-charging-20:before 
	content "\F086"

.ico-battery-charging-30:before 
	content "\F087"

.ico-battery-charging-40:before 
	content "\F088"

.ico-battery-charging-60:before 
	content "\F089"

.ico-battery-charging-80:before 
	content "\F08A"

.ico-battery-charging-90:before 
	content "\F08B"

.ico-battery-minus:before 
	content "\F08C"

.ico-battery-negative:before 
	content "\F08D"

.ico-battery-outline:before 
	content "\F08E"

.ico-battery-plus:before 
	content "\F08F"

.ico-battery-positive:before 
	content "\F090"

.ico-battery-unknown:before 
	content "\F091"

.ico-beach:before 
	content "\F092"

.ico-beaker:before 
	content "\F68F"

.ico-beats:before 
	content "\F097"

.ico-beer:before 
	content "\F098"

.ico-behance:before 
	content "\F099"

.ico-bell:before 
	content "\F09A"

.ico-bell-off:before 
	content "\F09B"

.ico-bell-outline:before 
	content "\F09C"

.ico-bell-plus:before 
	content "\F09D"

.ico-bell-ring:before 
	content "\F09E"

.ico-bell-ring-outline:before 
	content "\F09F"

.ico-bell-sleep:before 
	content "\F0A0"

.ico-beta:before 
	content "\F0A1"

.ico-bible:before 
	content "\F0A2"

.ico-bike:before 
	content "\F0A3"

.ico-bing:before 
	content "\F0A4"

.ico-binoculars:before 
	content "\F0A5"

.ico-bio:before 
	content "\F0A6"

.ico-biohazard:before 
	content "\F0A7"

.ico-bitbucket:before 
	content "\F0A8"

.ico-black-mesa:before 
	content "\F0A9"

.ico-blackberry:before 
	content "\F0AA"

.ico-blender:before 
	content "\F0AB"

.ico-blinds:before 
	content "\F0AC"

.ico-block-helper:before 
	content "\F0AD"

.ico-blogger:before 
	content "\F0AE"

.ico-bluetooth:before 
	content "\F0AF"

.ico-bluetooth-audio:before 
	content "\F0B0"

.ico-bluetooth-connect:before 
	content "\F0B1"

.ico-bluetooth-off:before 
	content "\F0B2"

.ico-bluetooth-settings:before 
	content "\F0B3"

.ico-bluetooth-transfer:before 
	content "\F0B4"

.ico-blur:before 
	content "\F0B5"

.ico-blur-linear:before 
	content "\F0B6"

.ico-blur-off:before 
	content "\F0B7"

.ico-blur-radial:before 
	content "\F0B8"

.ico-bomb:before 
	content "\F690"

.ico-bomb-off:before 
	content "\F6C4"

.ico-bone:before 
	content "\F0B9"

.ico-book:before 
	content "\F0BA"

.ico-book-minus:before 
	content "\F5D9"

.ico-book-multiple:before 
	content "\F0BB"

.ico-book-multiple-variant:before 
	content "\F0BC"

.ico-book-open:before 
	content "\F0BD"

.ico-book-open-page-variant:before 
	content "\F5DA"

.ico-book-open-variant:before 
	content "\F0BE"

.ico-book-plus:before 
	content "\F5DB"

.ico-book-variant:before 
	content "\F0BF"

.ico-bookmark:before 
	content "\F0C0"

.ico-bookmark-check:before 
	content "\F0C1"

.ico-bookmark-music:before 
	content "\F0C2"

.ico-bookmark-outline:before 
	content "\F0C3"

.ico-bookmark-plus:before 
	content "\F0C5"

.ico-bookmark-plus-outline:before 
	content "\F0C4"

.ico-bookmark-remove:before 
	content "\F0C6"

.ico-boombox:before 
	content "\F5DC"

.ico-bootstrap:before 
	content "\F6C5"

.ico-border-all:before 
	content "\F0C7"

.ico-border-bottom:before 
	content "\F0C8"

.ico-border-color:before 
	content "\F0C9"

.ico-border-horizontal:before 
	content "\F0CA"

.ico-border-inside:before 
	content "\F0CB"

.ico-border-left:before 
	content "\F0CC"

.ico-border-none:before 
	content "\F0CD"

.ico-border-outside:before 
	content "\F0CE"

.ico-border-right:before 
	content "\F0CF"

.ico-border-style:before 
	content "\F0D0"

.ico-border-top:before 
	content "\F0D1"

.ico-border-vertical:before 
	content "\F0D2"

.ico-bow-tie:before 
	content "\F677"

.ico-bowl:before 
	content "\F617"

.ico-bowling:before 
	content "\F0D3"

.ico-box:before 
	content "\F0D4"

.ico-box-cutter:before 
	content "\F0D5"

.ico-box-shadow:before 
	content "\F637"

.ico-bridge:before 
	content "\F618"

.ico-briefcase:before 
	content "\F0D6"

.ico-briefcase-check:before 
	content "\F0D7"

.ico-briefcase-download:before 
	content "\F0D8"

.ico-briefcase-upload:before 
	content "\F0D9"

.ico-brightness-1:before 
	content "\F0DA"

.ico-brightness-2:before 
	content "\F0DB"

.ico-brightness-3:before 
	content "\F0DC"

.ico-brightness-4:before 
	content "\F0DD"

.ico-brightness-5:before 
	content "\F0DE"

.ico-brightness-6:before 
	content "\F0DF"

.ico-brightness-7:before 
	content "\F0E0"

.ico-brightness-auto:before 
	content "\F0E1"

.ico-broom:before 
	content "\F0E2"

.ico-brush:before 
	content "\F0E3"

.ico-buffer:before 
	content "\F619"

.ico-bug:before 
	content "\F0E4"

.ico-bulletin-board:before 
	content "\F0E5"

.ico-bullhorn:before 
	content "\F0E6"

.ico-bullseye:before 
	content "\F5DD"

.ico-burst-mode:before 
	content "\F5DE"

.ico-bus:before 
	content "\F0E7"

.ico-cached:before 
	content "\F0E8"

.ico-cake:before 
	content "\F0E9"

.ico-cake-layered:before 
	content "\F0EA"

.ico-cake-variant:before 
	content "\F0EB"

.ico-calculator:before 
	content "\F0EC"

.ico-calendar:before 
	content "\F0ED"

.ico-calendar-blank:before 
	content "\F0EE"

.ico-calendar-check:before 
	content "\F0EF"

.ico-calendar-clock:before 
	content "\F0F0"

.ico-calendar-multiple:before 
	content "\F0F1"

.ico-calendar-multiple-check:before 
	content "\F0F2"

.ico-calendar-plus:before 
	content "\F0F3"

.ico-calendar-question:before 
	content "\F691"

.ico-calendar-range:before 
	content "\F678"

.ico-calendar-remove:before 
	content "\F0F4"

.ico-calendar-text:before 
	content "\F0F5"

.ico-calendar-today:before 
	content "\F0F6"

.ico-call-made:before 
	content "\F0F7"

.ico-call-merge:before 
	content "\F0F8"

.ico-call-missed:before 
	content "\F0F9"

.ico-call-received:before 
	content "\F0FA"

.ico-call-split:before 
	content "\F0FB"

.ico-camcorder:before 
	content "\F0FC"

.ico-camcorder-box:before 
	content "\F0FD"

.ico-camcorder-box-off:before 
	content "\F0FE"

.ico-camcorder-off:before 
	content "\F0FF"

.ico-camera:before 
	content "\F100"

.ico-camera-burst:before 
	content "\F692"

.ico-camera-enhance:before 
	content "\F101"

.ico-camera-front:before 
	content "\F102"

.ico-camera-front-variant:before 
	content "\F103"

.ico-camera-iris:before 
	content "\F104"

.ico-camera-off:before 
	content "\F5DF"

.ico-camera-party-mode:before 
	content "\F105"

.ico-camera-rear:before 
	content "\F106"

.ico-camera-rear-variant:before 
	content "\F107"

.ico-camera-switch:before 
	content "\F108"

.ico-camera-timer:before 
	content "\F109"

.ico-candle:before 
	content "\F5E2"

.ico-candycane:before 
	content "\F10A"

.ico-car:before 
	content "\F10B"

.ico-car-battery:before 
	content "\F10C"

.ico-car-connected:before 
	content "\F10D"

.ico-car-wash:before 
	content "\F10E"

.ico-cards:before 
	content "\F638"

.ico-cards-outline:before 
	content "\F639"

.ico-cards-playing-outline:before 
	content "\F63A"

.ico-cards-variant:before 
	content "\F6C6"

.ico-carrot:before 
	content "\F10F"

.ico-cart:before 
	content "\F110"

.ico-cart-off:before 
	content "\F66B"

.ico-cart-outline:before 
	content "\F111"

.ico-cart-plus:before 
	content "\F112"

.ico-case-sensitive-alt:before 
	content "\F113"

.ico-cash:before 
	content "\F114"

.ico-cash-100:before 
	content "\F115"

.ico-cash-multiple:before 
	content "\F116"

.ico-cash-usd:before 
	content "\F117"

.ico-cast:before 
	content "\F118"

.ico-cast-connected:before 
	content "\F119"

.ico-castle:before 
	content "\F11A"

.ico-cat:before 
	content "\F11B"

.ico-cellphone:before 
	content "\F11C"

.ico-cellphone-android:before 
	content "\F11D"

.ico-cellphone-basic:before 
	content "\F11E"

.ico-cellphone-dock:before 
	content "\F11F"

.ico-cellphone-iphone:before 
	content "\F120"

.ico-cellphone-link:before 
	content "\F121"

.ico-cellphone-link-off:before 
	content "\F122"

.ico-cellphone-settings:before 
	content "\F123"

.ico-certificate:before 
	content "\F124"

.ico-chair-school:before 
	content "\F125"

.ico-chart-arc:before 
	content "\F126"

.ico-chart-areaspline:before 
	content "\F127"

.ico-chart-bar:before 
	content "\F128"

.ico-chart-bubble:before 
	content "\F5E3"

.ico-chart-gantt:before 
	content "\F66C"

.ico-chart-histogram:before 
	content "\F129"

.ico-chart-line:before 
	content "\F12A"

.ico-chart-pie:before 
	content "\F12B"

.ico-chart-scatterplot-hexbin:before 
	content "\F66D"

.ico-chart-timeline:before 
	content "\F66E"

.ico-check:before 
	content "\F12C"

.ico-check-all:before 
	content "\F12D"

.ico-check-circle:before 
	content "\F5E0"

.ico-check-circle-outline:before 
	content "\F5E1"

.ico-checkbox-blank:before 
	content "\F12E"

.ico-checkbox-blank-circle:before 
	content "\F12F"

.ico-checkbox-blank-circle-outline:before 
	content "\F130"

.ico-checkbox-blank-outline:before 
	content "\F131"

.ico-checkbox-marked:before 
	content "\F132"

.ico-checkbox-marked-circle:before 
	content "\F133"

.ico-checkbox-marked-circle-outline:before 
	content "\F134"

.ico-checkbox-marked-outline:before 
	content "\F135"

.ico-checkbox-multiple-blank:before 
	content "\F136"

.ico-checkbox-multiple-blank-circle:before 
	content "\F63B"

.ico-checkbox-multiple-blank-circle-outline:before 
	content "\F63C"

.ico-checkbox-multiple-blank-outline:before 
	content "\F137"

.ico-checkbox-multiple-marked:before 
	content "\F138"

.ico-checkbox-multiple-marked-circle:before 
	content "\F63D"

.ico-checkbox-multiple-marked-circle-outline:before 
	content "\F63E"

.ico-checkbox-multiple-marked-outline:before 
	content "\F139"

.ico-checkerboard:before 
	content "\F13A"

.ico-chemical-weapon:before 
	content "\F13B"

.ico-chevron-double-down:before 
	content "\F13C"

.ico-chevron-double-left:before 
	content "\F13D"

.ico-chevron-double-right:before 
	content "\F13E"

.ico-chevron-double-up:before 
	content "\F13F"

.ico-chevron-down:before 
	content "\F140"

.ico-chevron-left:before 
	content "\F141"

.ico-chevron-right:before 
	content "\F142"

.ico-chevron-up:before 
	content "\F143"

.ico-chip:before 
	content "\F61A"

.ico-church:before 
	content "\F144"

.ico-cisco-webex:before 
	content "\F145"

.ico-city:before 
	content "\F146"

.ico-clipboard:before 
	content "\F147"

.ico-clipboard-account:before 
	content "\F148"

.ico-clipboard-alert:before 
	content "\F149"

.ico-clipboard-arrow-down:before 
	content "\F14A"

.ico-clipboard-arrow-left:before 
	content "\F14B"

.ico-clipboard-check:before 
	content "\F14C"

.ico-clipboard-flow:before 
	content "\F6C7"

.ico-clipboard-outline:before 
	content "\F14D"

.ico-clipboard-text:before 
	content "\F14E"

.ico-clippy:before 
	content "\F14F"

.ico-clock:before 
	content "\F150"

.ico-clock-alert:before 
	content "\F5CE"

.ico-clock-end:before 
	content "\F151"

.ico-clock-fast:before 
	content "\F152"

.ico-clock-in:before 
	content "\F153"

.ico-clock-out:before 
	content "\F154"

.ico-clock-start:before 
	content "\F155"

.ico-close:before 
	content "\F156"

.ico-close-box:before 
	content "\F157"

.ico-close-box-outline:before 
	content "\F158"

.ico-close-circle:before 
	content "\F159"

.ico-close-circle-outline:before 
	content "\F15A"

.ico-close-network:before 
	content "\F15B"

.ico-close-octagon:before 
	content "\F15C"

.ico-close-octagon-outline:before 
	content "\F15D"

.ico-close-outline:before 
	content "\F6C8"

.ico-closed-caption:before 
	content "\F15E"

.ico-cloud:before 
	content "\F15F"

.ico-cloud-check:before 
	content "\F160"

.ico-cloud-circle:before 
	content "\F161"

.ico-cloud-download:before 
	content "\F162"

.ico-cloud-outline:before 
	content "\F163"

.ico-cloud-outline-off:before 
	content "\F164"

.ico-cloud-print:before 
	content "\F165"

.ico-cloud-print-outline:before 
	content "\F166"

.ico-cloud-sync:before 
	content "\F63F"

.ico-cloud-upload:before 
	content "\F167"

.ico-code-array:before 
	content "\F168"

.ico-code-braces:before 
	content "\F169"

.ico-code-brackets:before 
	content "\F16A"

.ico-code-equal:before 
	content "\F16B"

.ico-code-greater-than:before 
	content "\F16C"

.ico-code-greater-than-or-equal:before 
	content "\F16D"

.ico-code-less-than:before 
	content "\F16E"

.ico-code-less-than-or-equal:before 
	content "\F16F"

.ico-code-not-equal:before 
	content "\F170"

.ico-code-not-equal-variant:before 
	content "\F171"

.ico-code-parentheses:before 
	content "\F172"

.ico-code-string:before 
	content "\F173"

.ico-code-tags:before 
	content "\F174"

.ico-code-tags-check:before 
	content "\F693"

.ico-codepen:before 
	content "\F175"

.ico-coffee:before 
	content "\F176"

.ico-coffee-outline:before 
	content "\F6C9"

.ico-coffee-to-go:before 
	content "\F177"

.ico-coin:before 
	content "\F178"

.ico-coins:before 
	content "\F694"

.ico-collage:before 
	content "\F640"

.ico-color-helper:before 
	content "\F179"

.ico-comment:before 
	content "\F17A"

.ico-comment-account:before 
	content "\F17B"

.ico-comment-account-outline:before 
	content "\F17C"

.ico-comment-alert:before 
	content "\F17D"

.ico-comment-alert-outline:before 
	content "\F17E"

.ico-comment-check:before 
	content "\F17F"

.ico-comment-check-outline:before 
	content "\F180"

.ico-comment-multiple-outline:before 
	content "\F181"

.ico-comment-outline:before 
	content "\F182"

.ico-comment-plus-outline:before 
	content "\F183"

.ico-comment-processing:before 
	content "\F184"

.ico-comment-processing-outline:before 
	content "\F185"

.ico-comment-question-outline:before 
	content "\F186"

.ico-comment-remove-outline:before 
	content "\F187"

.ico-comment-text:before 
	content "\F188"

.ico-comment-text-outline:before 
	content "\F189"

.ico-compare:before 
	content "\F18A"

.ico-compass:before 
	content "\F18B"

.ico-compass-outline:before 
	content "\F18C"

.ico-console:before 
	content "\F18D"

.ico-contact-mail:before 
	content "\F18E"

.ico-contacts:before 
	content "\F6CA"

.ico-content-copy:before 
	content "\F18F"

.ico-content-cut:before 
	content "\F190"

.ico-content-duplicate:before 
	content "\F191"

.ico-content-paste:before 
	content "\F192"

.ico-content-save:before 
	content "\F193"

.ico-content-save-all:before 
	content "\F194"

.ico-content-save-settings:before 
	content "\F61B"

.ico-contrast:before 
	content "\F195"

.ico-contrast-box:before 
	content "\F196"

.ico-contrast-circle:before 
	content "\F197"

.ico-cookie:before 
	content "\F198"

.ico-copyright:before 
	content "\F5E6"

.ico-counter:before 
	content "\F199"

.ico-cow:before 
	content "\F19A"

.ico-creation:before 
	content "\F1C9"

.ico-credit-card:before 
	content "\F19B"

.ico-credit-card-multiple:before 
	content "\F19C"

.ico-credit-card-off:before 
	content "\F5E4"

.ico-credit-card-plus:before 
	content "\F675"

.ico-credit-card-scan:before 
	content "\F19D"

.ico-crop:before 
	content "\F19E"

.ico-crop-free:before 
	content "\F19F"

.ico-crop-landscape:before 
	content "\F1A0"

.ico-crop-portrait:before 
	content "\F1A1"

.ico-crop-rotate:before 
	content "\F695"

.ico-crop-square:before 
	content "\F1A2"

.ico-crosshairs:before 
	content "\F1A3"

.ico-crosshairs-gps:before 
	content "\F1A4"

.ico-crown:before 
	content "\F1A5"

.ico-cube:before 
	content "\F1A6"

.ico-cube-outline:before 
	content "\F1A7"

.ico-cube-send:before 
	content "\F1A8"

.ico-cube-unfolded:before 
	content "\F1A9"

.ico-cup:before 
	content "\F1AA"

.ico-cup-off:before 
	content "\F5E5"

.ico-cup-water:before 
	content "\F1AB"

.ico-currency-btc:before 
	content "\F1AC"

.ico-currency-eur:before 
	content "\F1AD"

.ico-currency-gbp:before 
	content "\F1AE"

.ico-currency-inr:before 
	content "\F1AF"

.ico-currency-ngn:before 
	content "\F1B0"

.ico-currency-rub:before 
	content "\F1B1"

.ico-currency-try:before 
	content "\F1B2"

.ico-currency-usd:before 
	content "\F1B3"

.ico-currency-usd-off:before 
	content "\F679"

.ico-cursor-default:before 
	content "\F1B4"

.ico-cursor-default-outline:before 
	content "\F1B5"

.ico-cursor-move:before 
	content "\F1B6"

.ico-cursor-pointer:before 
	content "\F1B7"

.ico-cursor-text:before 
	content "\F5E7"

.ico-database:before 
	content "\F1B8"

.ico-database-minus:before 
	content "\F1B9"

.ico-database-plus:before 
	content "\F1BA"

.ico-debug-step-into:before 
	content "\F1BB"

.ico-debug-step-out:before 
	content "\F1BC"

.ico-debug-step-over:before 
	content "\F1BD"

.ico-decimal-decrease:before 
	content "\F1BE"

.ico-decimal-increase:before 
	content "\F1BF"

.ico-delete:before 
	content "\F1C0"

.ico-delete-circle:before 
	content "\F682"

.ico-delete-empty:before 
	content "\F6CB"

.ico-delete-forever:before 
	content "\F5E8"

.ico-delete-sweep:before 
	content "\F5E9"

.ico-delete-variant:before 
	content "\F1C1"

.ico-delta:before 
	content "\F1C2"

.ico-deskphone:before 
	content "\F1C3"

.ico-desktop-mac:before 
	content "\F1C4"

.ico-desktop-tower:before 
	content "\F1C5"

.ico-details:before 
	content "\F1C6"

.ico-developer-board:before 
	content "\F696"

.ico-deviantart:before 
	content "\F1C7"

.ico-dialpad:before 
	content "\F61C"

.ico-diamond:before 
	content "\F1C8"

.ico-dice-1:before 
	content "\F1CA"

.ico-dice-2:before 
	content "\F1CB"

.ico-dice-3:before 
	content "\F1CC"

.ico-dice-4:before 
	content "\F1CD"

.ico-dice-5:before 
	content "\F1CE"

.ico-dice-6:before 
	content "\F1CF"

.ico-dice-d20:before 
	content "\F5EA"

.ico-dice-d4:before 
	content "\F5EB"

.ico-dice-d6:before 
	content "\F5EC"

.ico-dice-d8:before 
	content "\F5ED"

.ico-dictionary:before 
	content "\F61D"

.ico-directions:before 
	content "\F1D0"

.ico-directions-fork:before 
	content "\F641"

.ico-discord:before 
	content "\F66F"

.ico-disk:before 
	content "\F5EE"

.ico-disk-alert:before 
	content "\F1D1"

.ico-disqus:before 
	content "\F1D2"

.ico-disqus-outline:before 
	content "\F1D3"

.ico-division:before 
	content "\F1D4"

.ico-division-box:before 
	content "\F1D5"

.ico-dna:before 
	content "\F683"

.ico-dns:before 
	content "\F1D6"

.ico-do-not-disturb:before 
	content "\F697"

.ico-do-not-disturb-off:before 
	content "\F698"

.ico-dolby:before 
	content "\F6B2"

.ico-domain:before 
	content "\F1D7"

.ico-dots-horizontal:before 
	content "\F1D8"

.ico-dots-vertical:before 
	content "\F1D9"

.ico-douban:before 
	content "\F699"

.ico-download:before 
	content "\F1DA"

.ico-drag:before 
	content "\F1DB"

.ico-drag-horizontal:before 
	content "\F1DC"

.ico-drag-vertical:before 
	content "\F1DD"

.ico-drawing:before 
	content "\F1DE"

.ico-drawing-box:before 
	content "\F1DF"

.ico-dribbble:before 
	content "\F1E0"

.ico-dribbble-box:before 
	content "\F1E1"

.ico-drone:before 
	content "\F1E2"

.ico-dropbox:before 
	content "\F1E3"

.ico-drupal:before 
	content "\F1E4"

.ico-duck:before 
	content "\F1E5"

.ico-dumbbell:before 
	content "\F1E6"

.ico-earth:before 
	content "\F1E7"

.ico-earth-box:before 
	content "\F6CC"

.ico-earth-box-off:before 
	content "\F6CD"

.ico-earth-off:before 
	content "\F1E8"

.ico-edge:before 
	content "\F1E9"

.ico-eject:before 
	content "\F1EA"

.ico-elevation-decline:before 
	content "\F1EB"

.ico-elevation-rise:before 
	content "\F1EC"

.ico-elevator:before 
	content "\F1ED"

.ico-email:before 
	content "\F1EE"

.ico-email-alert:before 
	content "\F6CE"

.ico-email-open:before 
	content "\F1EF"

.ico-email-open-outline:before 
	content "\F5EF"

.ico-email-outline:before 
	content "\F1F0"

.ico-email-secure:before 
	content "\F1F1"

.ico-email-variant:before 
	content "\F5F0"

.ico-emby:before 
	content "\F6B3"

.ico-emoticon:before 
	content "\F1F2"

.ico-emoticon-cool:before 
	content "\F1F3"

.ico-emoticon-dead:before 
	content "\F69A"

.ico-emoticon-devil:before 
	content "\F1F4"

.ico-emoticon-excited:before 
	content "\F69B"

.ico-emoticon-happy:before 
	content "\F1F5"

.ico-emoticon-neutral:before 
	content "\F1F6"

.ico-emoticon-poop:before 
	content "\F1F7"

.ico-emoticon-sad:before 
	content "\F1F8"

.ico-emoticon-tongue:before 
	content "\F1F9"

.ico-engine:before 
	content "\F1FA"

.ico-engine-outline:before 
	content "\F1FB"

.ico-equal:before 
	content "\F1FC"

.ico-equal-box:before 
	content "\F1FD"

.ico-eraser:before 
	content "\F1FE"

.ico-eraser-variant:before 
	content "\F642"

.ico-escalator:before 
	content "\F1FF"

.ico-ethernet:before 
	content "\F200"

.ico-ethernet-cable:before 
	content "\F201"

.ico-ethernet-cable-off:before 
	content "\F202"

.ico-etsy:before 
	content "\F203"

.ico-ev-station:before 
	content "\F5F1"

.ico-evernote:before 
	content "\F204"

.ico-exclamation:before 
	content "\F205"

.ico-exit-to-app:before 
	content "\F206"

.ico-export:before 
	content "\F207"

.ico-eye:before 
	content "\F208"

.ico-eye-off:before 
	content "\F209"

.ico-eye-outline:before 
	content "\F6CF"

.ico-eye-outline-off:before 
	content "\F6D0"

.ico-eyedropper:before 
	content "\F20A"

.ico-eyedropper-variant:before 
	content "\F20B"

.ico-face:before 
	content "\F643"

.ico-face-profile:before 
	content "\F644"

.ico-facebook:before 
	content "\F20C"

.ico-facebook-box:before 
	content "\F20D"

.ico-facebook-messenger:before 
	content "\F20E"

.ico-factory:before 
	content "\F20F"

.ico-fan:before 
	content "\F210"

.ico-fast-forward:before 
	content "\F211"

.ico-fast-forward-outline:before 
	content "\F6D1"

.ico-fax:before 
	content "\F212"

.ico-feather:before 
	content "\F6D2"

.ico-ferry:before 
	content "\F213"

.ico-file:before 
	content "\F214"

.ico-file-chart:before 
	content "\F215"

.ico-file-check:before 
	content "\F216"

.ico-file-cloud:before 
	content "\F217"

.ico-file-delimited:before 
	content "\F218"

.ico-file-document:before 
	content "\F219"

.ico-file-document-box:before 
	content "\F21A"

.ico-file-excel:before 
	content "\F21B"

.ico-file-excel-box:before 
	content "\F21C"

.ico-file-export:before 
	content "\F21D"

.ico-file-find:before 
	content "\F21E"

.ico-file-hidden:before 
	content "\F613"

.ico-file-image:before 
	content "\F21F"

.ico-file-import:before 
	content "\F220"

.ico-file-lock:before 
	content "\F221"

.ico-file-multiple:before 
	content "\F222"

.ico-file-music:before 
	content "\F223"

.ico-file-outline:before 
	content "\F224"

.ico-file-pdf:before 
	content "\F225"

.ico-file-pdf-box:before 
	content "\F226"

.ico-file-powerpoint:before 
	content "\F227"

.ico-file-powerpoint-box:before 
	content "\F228"

.ico-file-presentation-box:before 
	content "\F229"

.ico-file-restore:before 
	content "\F670"

.ico-file-send:before 
	content "\F22A"

.ico-file-tree:before 
	content "\F645"

.ico-file-video:before 
	content "\F22B"

.ico-file-word:before 
	content "\F22C"

.ico-file-word-box:before 
	content "\F22D"

.ico-file-xml:before 
	content "\F22E"

.ico-film:before 
	content "\F22F"

.ico-filmstrip:before 
	content "\F230"

.ico-filmstrip-off:before 
	content "\F231"

.ico-filter:before 
	content "\F232"

.ico-filter-outline:before 
	content "\F233"

.ico-filter-remove:before 
	content "\F234"

.ico-filter-remove-outline:before 
	content "\F235"

.ico-filter-variant:before 
	content "\F236"

.ico-find-replace:before 
	content "\F6D3"

.ico-fingerprint:before 
	content "\F237"

.ico-fire:before 
	content "\F238"

.ico-firefox:before 
	content "\F239"

.ico-fish:before 
	content "\F23A"

.ico-flag:before 
	content "\F23B"

.ico-flag-checkered:before 
	content "\F23C"

.ico-flag-outline:before 
	content "\F23D"

.ico-flag-outline-variant:before 
	content "\F23E"

.ico-flag-triangle:before 
	content "\F23F"

.ico-flag-variant:before 
	content "\F240"

.ico-flash:before 
	content "\F241"

.ico-flash-auto:before 
	content "\F242"

.ico-flash-off:before 
	content "\F243"

.ico-flash-outline:before 
	content "\F6D4"

.ico-flash-red-eye:before 
	content "\F67A"

.ico-flashlight:before 
	content "\F244"

.ico-flashlight-off:before 
	content "\F245"

.ico-flask:before 
	content "\F093"

.ico-flask-empty:before 
	content "\F094"

.ico-flask-empty-outline:before 
	content "\F095"

.ico-flask-outline:before 
	content "\F096"

.ico-flattr:before 
	content "\F246"

.ico-flip-to-back:before 
	content "\F247"

.ico-flip-to-front:before 
	content "\F248"

.ico-floppy:before 
	content "\F249"

.ico-flower:before 
	content "\F24A"

.ico-folder:before 
	content "\F24B"

.ico-folder-account:before 
	content "\F24C"

.ico-folder-download:before 
	content "\F24D"

.ico-folder-google-drive:before 
	content "\F24E"

.ico-folder-image:before 
	content "\F24F"

.ico-folder-lock:before 
	content "\F250"

.ico-folder-lock-open:before 
	content "\F251"

.ico-folder-move:before 
	content "\F252"

.ico-folder-multiple:before 
	content "\F253"

.ico-folder-multiple-image:before 
	content "\F254"

.ico-folder-multiple-outline:before 
	content "\F255"

.ico-folder-outline:before 
	content "\F256"

.ico-folder-plus:before 
	content "\F257"

.ico-folder-remove:before 
	content "\F258"

.ico-folder-star:before 
	content "\F69C"

.ico-folder-upload:before 
	content "\F259"

.ico-font-awesome:before 
	content "\F03A"

.ico-food:before 
	content "\F25A"

.ico-food-apple:before 
	content "\F25B"

.ico-food-fork-drink:before 
	content "\F5F2"

.ico-food-off:before 
	content "\F5F3"

.ico-food-variant:before 
	content "\F25C"

.ico-football:before 
	content "\F25D"

.ico-football-australian:before 
	content "\F25E"

.ico-football-helmet:before 
	content "\F25F"

.ico-format-align-center:before 
	content "\F260"

.ico-format-align-justify:before 
	content "\F261"

.ico-format-align-left:before 
	content "\F262"

.ico-format-align-right:before 
	content "\F263"

.ico-format-annotation-plus:before 
	content "\F646"

.ico-format-bold:before 
	content "\F264"

.ico-format-clear:before 
	content "\F265"

.ico-format-color-fill:before 
	content "\F266"

.ico-format-color-text:before 
	content "\F69D"

.ico-format-float-center:before 
	content "\F267"

.ico-format-float-left:before 
	content "\F268"

.ico-format-float-none:before 
	content "\F269"

.ico-format-float-right:before 
	content "\F26A"

.ico-format-font:before 
	content "\F6D5"

.ico-format-header-1:before 
	content "\F26B"

.ico-format-header-2:before 
	content "\F26C"

.ico-format-header-3:before 
	content "\F26D"

.ico-format-header-4:before 
	content "\F26E"

.ico-format-header-5:before 
	content "\F26F"

.ico-format-header-6:before 
	content "\F270"

.ico-format-header-decrease:before 
	content "\F271"

.ico-format-header-equal:before 
	content "\F272"

.ico-format-header-increase:before 
	content "\F273"

.ico-format-header-pound:before 
	content "\F274"

.ico-format-horizontal-align-center:before 
	content "\F61E"

.ico-format-horizontal-align-left:before 
	content "\F61F"

.ico-format-horizontal-align-right:before 
	content "\F620"

.ico-format-indent-decrease:before 
	content "\F275"

.ico-format-indent-increase:before 
	content "\F276"

.ico-format-italic:before 
	content "\F277"

.ico-format-line-spacing:before 
	content "\F278"

.ico-format-line-style:before 
	content "\F5C8"

.ico-format-line-weight:before 
	content "\F5C9"

.ico-format-list-bulleted:before 
	content "\F279"

.ico-format-list-bulleted-type:before 
	content "\F27A"

.ico-format-list-numbers:before 
	content "\F27B"

.ico-format-page-break:before 
	content "\F6D6"

.ico-format-paint:before 
	content "\F27C"

.ico-format-paragraph:before 
	content "\F27D"

.ico-format-pilcrow:before 
	content "\F6D7"

.ico-format-quote:before 
	content "\F27E"

.ico-format-rotate-90:before 
	content "\F6A9"

.ico-format-section:before 
	content "\F69E"

.ico-format-size:before 
	content "\F27F"

.ico-format-strikethrough:before 
	content "\F280"

.ico-format-strikethrough-variant:before 
	content "\F281"

.ico-format-subscript:before 
	content "\F282"

.ico-format-superscript:before 
	content "\F283"

.ico-format-text:before 
	content "\F284"

.ico-format-textdirection-l-to-r:before 
	content "\F285"

.ico-format-textdirection-r-to-l:before 
	content "\F286"

.ico-format-title:before 
	content "\F5F4"

.ico-format-underline:before 
	content "\F287"

.ico-format-vertical-align-bottom:before 
	content "\F621"

.ico-format-vertical-align-center:before 
	content "\F622"

.ico-format-vertical-align-top:before 
	content "\F623"

.ico-format-wrap-inline:before 
	content "\F288"

.ico-format-wrap-square:before 
	content "\F289"

.ico-format-wrap-tight:before 
	content "\F28A"

.ico-format-wrap-top-bottom:before 
	content "\F28B"

.ico-forum:before 
	content "\F28C"

.ico-forward:before 
	content "\F28D"

.ico-foursquare:before 
	content "\F28E"

.ico-fridge:before 
	content "\F28F"

.ico-fridge-filled:before 
	content "\F290"

.ico-fridge-filled-bottom:before 
	content "\F291"

.ico-fridge-filled-top:before 
	content "\F292"

.ico-fullscreen:before 
	content "\F293"

.ico-fullscreen-exit:before 
	content "\F294"

.ico-function:before 
	content "\F295"

.ico-gamepad:before 
	content "\F296"

.ico-gamepad-variant:before 
	content "\F297"

.ico-garage:before 
	content "\F6D8"

.ico-garage-open:before 
	content "\F6D9"

.ico-gas-cylinder:before 
	content "\F647"

.ico-gas-station:before 
	content "\F298"

.ico-gate:before 
	content "\F299"

.ico-gauge:before 
	content "\F29A"

.ico-gavel:before 
	content "\F29B"

.ico-gender-female:before 
	content "\F29C"

.ico-gender-male:before 
	content "\F29D"

.ico-gender-male-female:before 
	content "\F29E"

.ico-gender-transgender:before 
	content "\F29F"

.ico-ghost:before 
	content "\F2A0"

.ico-gift:before 
	content "\F2A1"

.ico-git:before 
	content "\F2A2"

.ico-github-box:before 
	content "\F2A3"

.ico-github-circle:before 
	content "\F2A4"

.ico-github-face:before 
	content "\F6DA"

.ico-glass-flute:before 
	content "\F2A5"

.ico-glass-mug:before 
	content "\F2A6"

.ico-glass-stange:before 
	content "\F2A7"

.ico-glass-tulip:before 
	content "\F2A8"

.ico-glassdoor:before 
	content "\F2A9"

.ico-glasses:before 
	content "\F2AA"

.ico-gmail:before 
	content "\F2AB"

.ico-gnome:before 
	content "\F2AC"

.ico-gondola:before 
	content "\F685"

.ico-google:before 
	content "\F2AD"

.ico-google-cardboard:before 
	content "\F2AE"

.ico-google-chrome:before 
	content "\F2AF"

.ico-google-circles:before 
	content "\F2B0"

.ico-google-circles-communities:before 
	content "\F2B1"

.ico-google-circles-extended:before 
	content "\F2B2"

.ico-google-circles-group:before 
	content "\F2B3"

.ico-google-controller:before 
	content "\F2B4"

.ico-google-controller-off:before 
	content "\F2B5"

.ico-google-drive:before 
	content "\F2B6"

.ico-google-earth:before 
	content "\F2B7"

.ico-google-glass:before 
	content "\F2B8"

.ico-google-keep:before 
	content "\F6DB"

.ico-google-maps:before 
	content "\F5F5"

.ico-google-nearby:before 
	content "\F2B9"

.ico-google-pages:before 
	content "\F2BA"

.ico-google-photos:before 
	content "\F6DC"

.ico-google-physical-web:before 
	content "\F2BB"

.ico-google-play:before 
	content "\F2BC"

.ico-google-plus:before 
	content "\F2BD"

.ico-google-plus-box:before 
	content "\F2BE"

.ico-google-translate:before 
	content "\F2BF"

.ico-google-wallet:before 
	content "\F2C0"

.ico-gradient:before 
	content "\F69F"

.ico-grease-pencil:before 
	content "\F648"

.ico-grid:before 
	content "\F2C1"

.ico-grid-off:before 
	content "\F2C2"

.ico-group:before 
	content "\F2C3"

.ico-guitar-electric:before 
	content "\F2C4"

.ico-guitar-pick:before 
	content "\F2C5"

.ico-guitar-pick-outline:before 
	content "\F2C6"

.ico-hackernews:before 
	content "\F624"

.ico-hamburger:before 
	content "\F684"

.ico-hand-pointing-right:before 
	content "\F2C7"

.ico-hanger:before 
	content "\F2C8"

.ico-hangouts:before 
	content "\F2C9"

.ico-harddisk:before 
	content "\F2CA"

.ico-headphones:before 
	content "\F2CB"

.ico-headphones-box:before 
	content "\F2CC"

.ico-headphones-settings:before 
	content "\F2CD"

.ico-headset:before 
	content "\F2CE"

.ico-headset-dock:before 
	content "\F2CF"

.ico-headset-off:before 
	content "\F2D0"

.ico-heart:before 
	content "\F2D1"

.ico-heart-box:before 
	content "\F2D2"

.ico-heart-box-outline:before 
	content "\F2D3"

.ico-heart-broken:before 
	content "\F2D4"

.ico-heart-half-outline:before 
	content "\F6DD"

.ico-heart-half-part:before 
	content "\F6DE"

.ico-heart-half-part-outline:before 
	content "\F6DF"

.ico-heart-outline:before 
	content "\F2D5"

.ico-heart-pulse:before 
	content "\F5F6"

.ico-help:before 
	content "\F2D6"

.ico-help-circle:before 
	content "\F2D7"

.ico-help-circle-outline:before 
	content "\F625"

.ico-hexagon:before 
	content "\F2D8"

.ico-hexagon-multiple:before 
	content "\F6E0"

.ico-hexagon-outline:before 
	content "\F2D9"

.ico-highway:before 
	content "\F5F7"

.ico-history:before 
	content "\F2DA"

.ico-hololens:before 
	content "\F2DB"

.ico-home:before 
	content "\F2DC"

.ico-home-map-marker:before 
	content "\F5F8"

.ico-home-modern:before 
	content "\F2DD"

.ico-home-outline:before 
	content "\F6A0"

.ico-home-variant:before 
	content "\F2DE"

.ico-hook:before 
	content "\F6E1"

.ico-hook-off:before 
	content "\F6E2"

.ico-hops:before 
	content "\F2DF"

.ico-hospital:before 
	content "\F2E0"

.ico-hospital-building:before 
	content "\F2E1"

.ico-hospital-marker:before 
	content "\F2E2"

.ico-hotel:before 
	content "\F2E3"

.ico-houzz:before 
	content "\F2E4"

.ico-houzz-box:before 
	content "\F2E5"

.ico-human:before 
	content "\F2E6"

.ico-human-child:before 
	content "\F2E7"

.ico-human-female:before 
	content "\F649"

.ico-human-greeting:before 
	content "\F64A"

.ico-human-handsdown:before 
	content "\F64B"

.ico-human-handsup:before 
	content "\F64C"

.ico-human-male:before 
	content "\F64D"

.ico-human-male-female:before 
	content "\F2E8"

.ico-human-pregnant:before 
	content "\F5CF"

.ico-image:before 
	content "\F2E9"

.ico-image-album:before 
	content "\F2EA"

.ico-image-area:before 
	content "\F2EB"

.ico-image-area-close:before 
	content "\F2EC"

.ico-image-broken:before 
	content "\F2ED"

.ico-image-broken-variant:before 
	content "\F2EE"

.ico-image-filter:before 
	content "\F2EF"

.ico-image-filter-black-white:before 
	content "\F2F0"

.ico-image-filter-center-focus:before 
	content "\F2F1"

.ico-image-filter-center-focus-weak:before 
	content "\F2F2"

.ico-image-filter-drama:before 
	content "\F2F3"

.ico-image-filter-frames:before 
	content "\F2F4"

.ico-image-filter-hdr:before 
	content "\F2F5"

.ico-image-filter-none:before 
	content "\F2F6"

.ico-image-filter-tilt-shift:before 
	content "\F2F7"

.ico-image-filter-vintage:before 
	content "\F2F8"

.ico-image-multiple:before 
	content "\F2F9"

.ico-import:before 
	content "\F2FA"

.ico-inbox:before 
	content "\F686"

.ico-inbox-arrow-down:before 
	content "\F2FB"

.ico-inbox-arrow-up:before 
	content "\F3D1"

.ico-incognito:before 
	content "\F5F9"

.ico-infinity:before 
	content "\F6E3"

.ico-information:before 
	content "\F2FC"

.ico-information-outline:before 
	content "\F2FD"

.ico-information-variant:before 
	content "\F64E"

.ico-instagram:before 
	content "\F2FE"

.ico-instapaper:before 
	content "\F2FF"

.ico-internet-explorer:before 
	content "\F300"

.ico-invert-colors:before 
	content "\F301"

.ico-itunes:before 
	content "\F676"

.ico-jeepney:before 
	content "\F302"

.ico-jira:before 
	content "\F303"

.ico-jsfiddle:before 
	content "\F304"

.ico-json:before 
	content "\F626"

.ico-keg:before 
	content "\F305"

.ico-kettle:before 
	content "\F5FA"

.ico-key:before 
	content "\F306"

.ico-key-change:before 
	content "\F307"

.ico-key-minus:before 
	content "\F308"

.ico-key-plus:before 
	content "\F309"

.ico-key-remove:before 
	content "\F30A"

.ico-key-variant:before 
	content "\F30B"

.ico-keyboard:before 
	content "\F30C"

.ico-keyboard-backspace:before 
	content "\F30D"

.ico-keyboard-caps:before 
	content "\F30E"

.ico-keyboard-close:before 
	content "\F30F"

.ico-keyboard-off:before 
	content "\F310"

.ico-keyboard-return:before 
	content "\F311"

.ico-keyboard-tab:before 
	content "\F312"

.ico-keyboard-variant:before 
	content "\F313"

.ico-kodi:before 
	content "\F314"

.ico-label:before 
	content "\F315"

.ico-label-outline:before 
	content "\F316"

.ico-lambda:before 
	content "\F627"

.ico-lamp:before 
	content "\F6B4"

.ico-lan:before 
	content "\F317"

.ico-lan-connect:before 
	content "\F318"

.ico-lan-disconnect:before 
	content "\F319"

.ico-lan-pending:before 
	content "\F31A"

.ico-language-c:before 
	content "\F671"

.ico-language-cpp:before 
	content "\F672"

.ico-language-csharp:before 
	content "\F31B"

.ico-language-css3:before 
	content "\F31C"

.ico-language-html5:before 
	content "\F31D"

.ico-language-javascript:before 
	content "\F31E"

.ico-language-php:before 
	content "\F31F"

.ico-language-python:before 
	content "\F320"

.ico-language-python-text:before 
	content "\F321"

.ico-language-swift:before 
	content "\F6E4"

.ico-language-typescript:before 
	content "\F6E5"

.ico-laptop:before 
	content "\F322"

.ico-laptop-chromebook:before 
	content "\F323"

.ico-laptop-mac:before 
	content "\F324"

.ico-laptop-off:before 
	content "\F6E6"

.ico-laptop-windows:before 
	content "\F325"

.ico-lastfm:before 
	content "\F326"

.ico-launch:before 
	content "\F327"

.ico-layers:before 
	content "\F328"

.ico-layers-off:before 
	content "\F329"

.ico-lead-pencil:before 
	content "\F64F"

.ico-leaf:before 
	content "\F32A"

.ico-led-off:before 
	content "\F32B"

.ico-led-on:before 
	content "\F32C"

.ico-led-outline:before 
	content "\F32D"

.ico-led-variant-off:before 
	content "\F32E"

.ico-led-variant-on:before 
	content "\F32F"

.ico-led-variant-outline:before 
	content "\F330"

.ico-library:before 
	content "\F331"

.ico-library-books:before 
	content "\F332"

.ico-library-music:before 
	content "\F333"

.ico-library-plus:before 
	content "\F334"

.ico-lightbulb:before 
	content "\F335"

.ico-lightbulb-on:before 
	content "\F6E7"

.ico-lightbulb-on-outline:before 
	content "\F6E8"

.ico-lightbulb-outline:before 
	content "\F336"

.ico-link:before 
	content "\F337"

.ico-link-off:before 
	content "\F338"

.ico-link-variant:before 
	content "\F339"

.ico-link-variant-off:before 
	content "\F33A"

.ico-linkedin:before 
	content "\F33B"

.ico-linkedin-box:before 
	content "\F33C"

.ico-linux:before 
	content "\F33D"

.ico-lock:before 
	content "\F33E"

.ico-lock-open:before 
	content "\F33F"

.ico-lock-open-outline:before 
	content "\F340"

.ico-lock-outline:before 
	content "\F341"

.ico-lock-pattern:before 
	content "\F6E9"

.ico-lock-plus:before 
	content "\F5FB"

.ico-login:before 
	content "\F342"

.ico-login-variant:before 
	content "\F5FC"

.ico-logout:before 
	content "\F343"

.ico-logout-variant:before 
	content "\F5FD"

.ico-looks:before 
	content "\F344"

.ico-loop:before 
	content "\F6EA"

.ico-loupe:before 
	content "\F345"

.ico-lumx:before 
	content "\F346"

.ico-magnet:before 
	content "\F347"

.ico-magnet-on:before 
	content "\F348"

.ico-magnify:before 
	content "\F349"

.ico-magnify-minus:before 
	content "\F34A"

.ico-magnify-minus-outline:before 
	content "\F6EB"

.ico-magnify-plus:before 
	content "\F34B"

.ico-magnify-plus-outline:before 
	content "\F6EC"

.ico-mail-ru:before 
	content "\F34C"

.ico-mailbox:before 
	content "\F6ED"

.ico-map:before 
	content "\F34D"

.ico-map-marker:before 
	content "\F34E"

.ico-map-marker-circle:before 
	content "\F34F"

.ico-map-marker-minus:before 
	content "\F650"

.ico-map-marker-multiple:before 
	content "\F350"

.ico-map-marker-off:before 
	content "\F351"

.ico-map-marker-plus:before 
	content "\F651"

.ico-map-marker-radius:before 
	content "\F352"

.ico-margin:before 
	content "\F353"

.ico-markdown:before 
	content "\F354"

.ico-marker:before 
	content "\F652"

.ico-marker-check:before 
	content "\F355"

.ico-martini:before 
	content "\F356"

.ico-material-ui:before 
	content "\F357"

.ico-math-compass:before 
	content "\F358"

.ico-matrix:before 
	content "\F628"

.ico-maxcdn:before 
	content "\F359"

.ico-medical-bag:before 
	content "\F6EE"

.ico-medium:before 
	content "\F35A"

.ico-memory:before 
	content "\F35B"

.ico-menu:before 
	content "\F35C"

.ico-menu-down:before 
	content "\F35D"

.ico-menu-down-outline:before 
	content "\F6B5"

.ico-menu-left:before 
	content "\F35E"

.ico-menu-right:before 
	content "\F35F"

.ico-menu-up:before 
	content "\F360"

.ico-menu-up-outline:before 
	content "\F6B6"

.ico-message:before 
	content "\F361"

.ico-message-alert:before 
	content "\F362"

.ico-message-bulleted:before 
	content "\F6A1"

.ico-message-bulleted-off:before 
	content "\F6A2"

.ico-message-draw:before 
	content "\F363"

.ico-message-image:before 
	content "\F364"

.ico-message-outline:before 
	content "\F365"

.ico-message-plus:before 
	content "\F653"

.ico-message-processing:before 
	content "\F366"

.ico-message-reply:before 
	content "\F367"

.ico-message-reply-text:before 
	content "\F368"

.ico-message-settings:before 
	content "\F6EF"

.ico-message-settings-variant:before 
	content "\F6F0"

.ico-message-text:before 
	content "\F369"

.ico-message-text-outline:before 
	content "\F36A"

.ico-message-video:before 
	content "\F36B"

.ico-meteor:before 
	content "\F629"

.ico-microphone:before 
	content "\F36C"

.ico-microphone-off:before 
	content "\F36D"

.ico-microphone-outline:before 
	content "\F36E"

.ico-microphone-settings:before 
	content "\F36F"

.ico-microphone-variant:before 
	content "\F370"

.ico-microphone-variant-off:before 
	content "\F371"

.ico-microscope:before 
	content "\F654"

.ico-microsoft:before 
	content "\F372"

.ico-minecraft:before 
	content "\F373"

.ico-minus:before 
	content "\F374"

.ico-minus-box:before 
	content "\F375"

.ico-minus-box-outline:before 
	content "\F6F1"

.ico-minus-circle:before 
	content "\F376"

.ico-minus-circle-outline:before 
	content "\F377"

.ico-minus-network:before 
	content "\F378"

.ico-mixcloud:before 
	content "\F62A"

.ico-monitor:before 
	content "\F379"

.ico-monitor-multiple:before 
	content "\F37A"

.ico-more:before 
	content "\F37B"

.ico-motorbike:before 
	content "\F37C"

.ico-mouse:before 
	content "\F37D"

.ico-mouse-off:before 
	content "\F37E"

.ico-mouse-variant:before 
	content "\F37F"

.ico-mouse-variant-off:before 
	content "\F380"

.ico-move-resize:before 
	content "\F655"

.ico-move-resize-variant:before 
	content "\F656"

.ico-movie:before 
	content "\F381"

.ico-multiplication:before 
	content "\F382"

.ico-multiplication-box:before 
	content "\F383"

.ico-music-box:before 
	content "\F384"

.ico-music-box-outline:before 
	content "\F385"

.ico-music-circle:before 
	content "\F386"

.ico-music-note:before 
	content "\F387"

.ico-music-note-bluetooth:before 
	content "\F5FE"

.ico-music-note-bluetooth-off:before 
	content "\F5FF"

.ico-music-note-eighth:before 
	content "\F388"

.ico-music-note-half:before 
	content "\F389"

.ico-music-note-off:before 
	content "\F38A"

.ico-music-note-quarter:before 
	content "\F38B"

.ico-music-note-sixteenth:before 
	content "\F38C"

.ico-music-note-whole:before 
	content "\F38D"

.ico-nature:before 
	content "\F38E"

.ico-nature-people:before 
	content "\F38F"

.ico-navigation:before 
	content "\F390"

.ico-near-me:before 
	content "\F5CD"

.ico-needle:before 
	content "\F391"

.ico-nest-protect:before 
	content "\F392"

.ico-nest-thermostat:before 
	content "\F393"

.ico-network:before 
	content "\F6F2"

.ico-network-download:before 
	content "\F6F3"

.ico-network-question:before 
	content "\F6F4"

.ico-network-upload:before 
	content "\F6F5"

.ico-new-box:before 
	content "\F394"

.ico-newspaper:before 
	content "\F395"

.ico-nfc:before 
	content "\F396"

.ico-nfc-tap:before 
	content "\F397"

.ico-nfc-variant:before 
	content "\F398"

.ico-nodejs:before 
	content "\F399"

.ico-note:before 
	content "\F39A"

.ico-note-multiple:before 
	content "\F6B7"

.ico-note-multiple-outline:before 
	content "\F6B8"

.ico-note-outline:before 
	content "\F39B"

.ico-note-plus:before 
	content "\F39C"

.ico-note-plus-outline:before 
	content "\F39D"

.ico-note-text:before 
	content "\F39E"

.ico-notification-clear-all:before 
	content "\F39F"

.ico-npm:before 
	content "\F6F6"

.ico-nuke:before 
	content "\F6A3"

.ico-numeric:before 
	content "\F3A0"

.ico-numeric-0-box:before 
	content "\F3A1"

.ico-numeric-0-box-multiple-outline:before 
	content "\F3A2"

.ico-numeric-0-box-outline:before 
	content "\F3A3"

.ico-numeric-1-box:before 
	content "\F3A4"

.ico-numeric-1-box-multiple-outline:before 
	content "\F3A5"

.ico-numeric-1-box-outline:before 
	content "\F3A6"

.ico-numeric-2-box:before 
	content "\F3A7"

.ico-numeric-2-box-multiple-outline:before 
	content "\F3A8"

.ico-numeric-2-box-outline:before 
	content "\F3A9"

.ico-numeric-3-box:before 
	content "\F3AA"

.ico-numeric-3-box-multiple-outline:before 
	content "\F3AB"

.ico-numeric-3-box-outline:before 
	content "\F3AC"

.ico-numeric-4-box:before 
	content "\F3AD"

.ico-numeric-4-box-multiple-outline:before 
	content "\F3AE"

.ico-numeric-4-box-outline:before 
	content "\F3AF"

.ico-numeric-5-box:before 
	content "\F3B0"

.ico-numeric-5-box-multiple-outline:before 
	content "\F3B1"

.ico-numeric-5-box-outline:before 
	content "\F3B2"

.ico-numeric-6-box:before 
	content "\F3B3"

.ico-numeric-6-box-multiple-outline:before 
	content "\F3B4"

.ico-numeric-6-box-outline:before 
	content "\F3B5"

.ico-numeric-7-box:before 
	content "\F3B6"

.ico-numeric-7-box-multiple-outline:before 
	content "\F3B7"

.ico-numeric-7-box-outline:before 
	content "\F3B8"

.ico-numeric-8-box:before 
	content "\F3B9"

.ico-numeric-8-box-multiple-outline:before 
	content "\F3BA"

.ico-numeric-8-box-outline:before 
	content "\F3BB"

.ico-numeric-9-box:before 
	content "\F3BC"

.ico-numeric-9-box-multiple-outline:before 
	content "\F3BD"

.ico-numeric-9-box-outline:before 
	content "\F3BE"

.ico-numeric-9-plus-box:before 
	content "\F3BF"

.ico-numeric-9-plus-box-multiple-outline:before 
	content "\F3C0"

.ico-numeric-9-plus-box-outline:before 
	content "\F3C1"

.ico-nut:before 
	content "\F6F7"

.ico-nutrition:before 
	content "\F3C2"

.ico-oar:before 
	content "\F67B"

.ico-octagon:before 
	content "\F3C3"

.ico-octagon-outline:before 
	content "\F3C4"

.ico-octagram:before 
	content "\F6F8"

.ico-odnoklassniki:before 
	content "\F3C5"

.ico-office:before 
	content "\F3C6"

.ico-oil:before 
	content "\F3C7"

.ico-oil-temperature:before 
	content "\F3C8"

.ico-omega:before 
	content "\F3C9"

.ico-onedrive:before 
	content "\F3CA"

.ico-opacity:before 
	content "\F5CC"

.ico-open-in-app:before 
	content "\F3CB"

.ico-open-in-new:before 
	content "\F3CC"

.ico-openid:before 
	content "\F3CD"

.ico-opera:before 
	content "\F3CE"

.ico-ornament:before 
	content "\F3CF"

.ico-ornament-variant:before 
	content "\F3D0"

.ico-owl:before 
	content "\F3D2"

.ico-package:before 
	content "\F3D3"

.ico-package-down:before 
	content "\F3D4"

.ico-package-up:before 
	content "\F3D5"

.ico-package-variant:before 
	content "\F3D6"

.ico-package-variant-closed:before 
	content "\F3D7"

.ico-page-first:before 
	content "\F600"

.ico-page-last:before 
	content "\F601"

.ico-page-layout-body:before 
	content "\F6F9"

.ico-page-layout-footer:before 
	content "\F6FA"

.ico-page-layout-header:before 
	content "\F6FB"

.ico-page-layout-sidebar-left:before 
	content "\F6FC"

.ico-page-layout-sidebar-right:before 
	content "\F6FD"

.ico-palette:before 
	content "\F3D8"

.ico-palette-advanced:before 
	content "\F3D9"

.ico-panda:before 
	content "\F3DA"

.ico-pandora:before 
	content "\F3DB"

.ico-panorama:before 
	content "\F3DC"

.ico-panorama-fisheye:before 
	content "\F3DD"

.ico-panorama-horizontal:before 
	content "\F3DE"

.ico-panorama-vertical:before 
	content "\F3DF"

.ico-panorama-wide-angle:before 
	content "\F3E0"

.ico-paper-cut-vertical:before 
	content "\F3E1"

.ico-paperclip:before 
	content "\F3E2"

.ico-parking:before 
	content "\F3E3"

.ico-pause:before 
	content "\F3E4"

.ico-pause-circle:before 
	content "\F3E5"

.ico-pause-circle-outline:before 
	content "\F3E6"

.ico-pause-octagon:before 
	content "\F3E7"

.ico-pause-octagon-outline:before 
	content "\F3E8"

.ico-paw:before 
	content "\F3E9"

.ico-paw-off:before 
	content "\F657"

.ico-pen:before 
	content "\F3EA"

.ico-pencil:before 
	content "\F3EB"

.ico-pencil-box:before 
	content "\F3EC"

.ico-pencil-box-outline:before 
	content "\F3ED"

.ico-pencil-circle:before 
	content "\F6FE"

.ico-pencil-lock:before 
	content "\F3EE"

.ico-pencil-off:before 
	content "\F3EF"

.ico-pentagon:before 
	content "\F6FF"

.ico-pentagon-outline:before 
	content "\F700"

.ico-percent:before 
	content "\F3F0"

.ico-pharmacy:before 
	content "\F3F1"

.ico-phone:before 
	content "\F3F2"

.ico-phone-bluetooth:before 
	content "\F3F3"

.ico-phone-classic:before 
	content "\F602"

.ico-phone-forward:before 
	content "\F3F4"

.ico-phone-hangup:before 
	content "\F3F5"

.ico-phone-in-talk:before 
	content "\F3F6"

.ico-phone-incoming:before 
	content "\F3F7"

.ico-phone-locked:before 
	content "\F3F8"

.ico-phone-log:before 
	content "\F3F9"

.ico-phone-minus:before 
	content "\F658"

.ico-phone-missed:before 
	content "\F3FA"

.ico-phone-outgoing:before 
	content "\F3FB"

.ico-phone-paused:before 
	content "\F3FC"

.ico-phone-plus:before 
	content "\F659"

.ico-phone-settings:before 
	content "\F3FD"

.ico-phone-voip:before 
	content "\F3FE"

.ico-pi:before 
	content "\F3FF"

.ico-pi-box:before 
	content "\F400"

.ico-piano:before 
	content "\F67C"

.ico-pig:before 
	content "\F401"

.ico-pill:before 
	content "\F402"

.ico-pillar:before 
	content "\F701"

.ico-pin:before 
	content "\F403"

.ico-pin-off:before 
	content "\F404"

.ico-pine-tree:before 
	content "\F405"

.ico-pine-tree-box:before 
	content "\F406"

.ico-pinterest:before 
	content "\F407"

.ico-pinterest-box:before 
	content "\F408"

.ico-pistol:before 
	content "\F702"

.ico-pizza:before 
	content "\F409"

.ico-plane-shield:before 
	content "\F6BA"

.ico-play:before 
	content "\F40A"

.ico-play-box-outline:before 
	content "\F40B"

.ico-play-circle:before 
	content "\F40C"

.ico-play-circle-outline:before 
	content "\F40D"

.ico-play-pause:before 
	content "\F40E"

.ico-play-protected-content:before 
	content "\F40F"

.ico-playlist-check:before 
	content "\F5C7"

.ico-playlist-minus:before 
	content "\F410"

.ico-playlist-play:before 
	content "\F411"

.ico-playlist-plus:before 
	content "\F412"

.ico-playlist-remove:before 
	content "\F413"

.ico-playstation:before 
	content "\F414"

.ico-plex:before 
	content "\F6B9"

.ico-plus:before 
	content "\F415"

.ico-plus-box:before 
	content "\F416"

.ico-plus-box-outline:before 
	content "\F703"

.ico-plus-circle:before 
	content "\F417"

.ico-plus-circle-multiple-outline:before 
	content "\F418"

.ico-plus-circle-outline:before 
	content "\F419"

.ico-plus-network:before 
	content "\F41A"

.ico-plus-one:before 
	content "\F41B"

.ico-plus-outline:before 
	content "\F704"

.ico-pocket:before 
	content "\F41C"

.ico-pokeball:before 
	content "\F41D"

.ico-polaroid:before 
	content "\F41E"

.ico-poll:before 
	content "\F41F"

.ico-poll-box:before 
	content "\F420"

.ico-polymer:before 
	content "\F421"

.ico-pool:before 
	content "\F606"

.ico-popcorn:before 
	content "\F422"

.ico-pot:before 
	content "\F65A"

.ico-pot-mix:before 
	content "\F65B"

.ico-pound:before 
	content "\F423"

.ico-pound-box:before 
	content "\F424"

.ico-power:before 
	content "\F425"

.ico-power-plug:before 
	content "\F6A4"

.ico-power-plug-off:before 
	content "\F6A5"

.ico-power-settings:before 
	content "\F426"

.ico-power-socket:before 
	content "\F427"

.ico-prescription:before 
	content "\F705"

.ico-presentation:before 
	content "\F428"

.ico-presentation-play:before 
	content "\F429"

.ico-printer:before 
	content "\F42A"

.ico-printer-3d:before 
	content "\F42B"

.ico-printer-alert:before 
	content "\F42C"

.ico-printer-settings:before 
	content "\F706"

.ico-priority-high:before 
	content "\F603"

.ico-priority-low:before 
	content "\F604"

.ico-professional-hexagon:before 
	content "\F42D"

.ico-projector:before 
	content "\F42E"

.ico-projector-screen:before 
	content "\F42F"

.ico-publish:before 
	content "\F6A6"

.ico-pulse:before 
	content "\F430"

.ico-puzzle:before 
	content "\F431"

.ico-qqchat:before 
	content "\F605"

.ico-qrcode:before 
	content "\F432"

.ico-qrcode-scan:before 
	content "\F433"

.ico-quadcopter:before 
	content "\F434"

.ico-quality-high:before 
	content "\F435"

.ico-quicktime:before 
	content "\F436"

.ico-radar:before 
	content "\F437"

.ico-radiator:before 
	content "\F438"

.ico-radio:before 
	content "\F439"

.ico-radio-handheld:before 
	content "\F43A"

.ico-radio-tower:before 
	content "\F43B"

.ico-radioactive:before 
	content "\F43C"

.ico-radiobox-blank:before 
	content "\F43D"

.ico-radiobox-marked:before 
	content "\F43E"

.ico-raspberrypi:before 
	content "\F43F"

.ico-ray-end:before 
	content "\F440"

.ico-ray-end-arrow:before 
	content "\F441"

.ico-ray-start:before 
	content "\F442"

.ico-ray-start-arrow:before 
	content "\F443"

.ico-ray-start-end:before 
	content "\F444"

.ico-ray-vertex:before 
	content "\F445"

.ico-rdio:before 
	content "\F446"

.ico-react:before 
	content "\F707"

.ico-read:before 
	content "\F447"

.ico-readability:before 
	content "\F448"

.ico-receipt:before 
	content "\F449"

.ico-record:before 
	content "\F44A"

.ico-record-rec:before 
	content "\F44B"

.ico-recycle:before 
	content "\F44C"

.ico-reddit:before 
	content "\F44D"

.ico-redo:before 
	content "\F44E"

.ico-redo-variant:before 
	content "\F44F"

.ico-refresh:before 
	content "\F450"

.ico-regex:before 
	content "\F451"

.ico-relative-scale:before 
	content "\F452"

.ico-reload:before 
	content "\F453"

.ico-remote:before 
	content "\F454"

.ico-rename-box:before 
	content "\F455"

.ico-reorder-horizontal:before 
	content "\F687"

.ico-reorder-vertical:before 
	content "\F688"

.ico-repeat:before 
	content "\F456"

.ico-repeat-off:before 
	content "\F457"

.ico-repeat-once:before 
	content "\F458"

.ico-replay:before 
	content "\F459"

.ico-reply:before 
	content "\F45A"

.ico-reply-all:before 
	content "\F45B"

.ico-reproduction:before 
	content "\F45C"

.ico-resize-bottom-right:before 
	content "\F45D"

.ico-responsive:before 
	content "\F45E"

.ico-restart:before 
	content "\F708"

.ico-restore:before 
	content "\F6A7"

.ico-rewind:before 
	content "\F45F"

.ico-rewind-outline:before 
	content "\F709"

.ico-rhombus:before 
	content "\F70A"

.ico-rhombus-outline:before 
	content "\F70B"

.ico-ribbon:before 
	content "\F460"

.ico-road:before 
	content "\F461"

.ico-road-variant:before 
	content "\F462"

.ico-robot:before 
	content "\F6A8"

.ico-rocket:before 
	content "\F463"

.ico-roomba:before 
	content "\F70C"

.ico-rotate-3d:before 
	content "\F464"

.ico-rotate-left:before 
	content "\F465"

.ico-rotate-left-variant:before 
	content "\F466"

.ico-rotate-right:before 
	content "\F467"

.ico-rotate-right-variant:before 
	content "\F468"

.ico-rounded-corner:before 
	content "\F607"

.ico-router-wireless:before 
	content "\F469"

.ico-routes:before 
	content "\F46A"

.ico-rowing:before 
	content "\F608"

.ico-rss:before 
	content "\F46B"

.ico-rss-box:before 
	content "\F46C"

.ico-ruler:before 
	content "\F46D"

.ico-run:before 
	content "\F70D"

.ico-run-fast:before 
	content "\F46E"

.ico-sale:before 
	content "\F46F"

.ico-satellite:before 
	content "\F470"

.ico-satellite-variant:before 
	content "\F471"

.ico-saxophone:before 
	content "\F609"

.ico-scale:before 
	content "\F472"

.ico-scale-balance:before 
	content "\F5D1"

.ico-scale-bathroom:before 
	content "\F473"

.ico-scanner:before 
	content "\F6AA"

.ico-school:before 
	content "\F474"

.ico-screen-rotation:before 
	content "\F475"

.ico-screen-rotation-lock:before 
	content "\F476"

.ico-screwdriver:before 
	content "\F477"

.ico-script:before 
	content "\F478"

.ico-sd:before 
	content "\F479"

.ico-seal:before 
	content "\F47A"

.ico-search-web:before 
	content "\F70E"

.ico-seat-flat:before 
	content "\F47B"

.ico-seat-flat-angled:before 
	content "\F47C"

.ico-seat-individual-suite:before 
	content "\F47D"

.ico-seat-legroom-extra:before 
	content "\F47E"

.ico-seat-legroom-normal:before 
	content "\F47F"

.ico-seat-legroom-reduced:before 
	content "\F480"

.ico-seat-recline-extra:before 
	content "\F481"

.ico-seat-recline-normal:before 
	content "\F482"

.ico-security:before 
	content "\F483"

.ico-security-home:before 
	content "\F689"

.ico-security-network:before 
	content "\F484"

.ico-select:before 
	content "\F485"

.ico-select-all:before 
	content "\F486"

.ico-select-inverse:before 
	content "\F487"

.ico-select-off:before 
	content "\F488"

.ico-selection:before 
	content "\F489"

.ico-send:before 
	content "\F48A"

.ico-serial-port:before 
	content "\F65C"

.ico-server:before 
	content "\F48B"

.ico-server-minus:before 
	content "\F48C"

.ico-server-network:before 
	content "\F48D"

.ico-server-network-off:before 
	content "\F48E"

.ico-server-off:before 
	content "\F48F"

.ico-server-plus:before 
	content "\F490"

.ico-server-remove:before 
	content "\F491"

.ico-server-security:before 
	content "\F492"

.ico-settings:before 
	content "\F493"

.ico-settings-box:before 
	content "\F494"

.ico-shape-circle-plus:before 
	content "\F65D"

.ico-shape-plus:before 
	content "\F495"

.ico-shape-polygon-plus:before 
	content "\F65E"

.ico-shape-rectangle-plus:before 
	content "\F65F"

.ico-shape-square-plus:before 
	content "\F660"

.ico-share:before 
	content "\F496"

.ico-share-variant:before 
	content "\F497"

.ico-shield:before 
	content "\F498"

.ico-shield-outline:before 
	content "\F499"

.ico-shopping:before 
	content "\F49A"

.ico-shopping-music:before 
	content "\F49B"

.ico-shovel:before 
	content "\F70F"

.ico-shovel-off:before 
	content "\F710"

.ico-shredder:before 
	content "\F49C"

.ico-shuffle:before 
	content "\F49D"

.ico-shuffle-disabled:before 
	content "\F49E"

.ico-shuffle-variant:before 
	content "\F49F"

.ico-sigma:before 
	content "\F4A0"

.ico-sigma-lower:before 
	content "\F62B"

.ico-sign-caution:before 
	content "\F4A1"

.ico-signal:before 
	content "\F4A2"

.ico-signal-2g:before 
	content "\F711"

.ico-signal-3g:before 
	content "\F712"

.ico-signal-4g:before 
	content "\F713"

.ico-signal-hspa:before 
	content "\F714"

.ico-signal-hspa-plus:before 
	content "\F715"

.ico-signal-variant:before 
	content "\F60A"

.ico-silverware:before 
	content "\F4A3"

.ico-silverware-fork:before 
	content "\F4A4"

.ico-silverware-spoon:before 
	content "\F4A5"

.ico-silverware-variant:before 
	content "\F4A6"

.ico-sim:before 
	content "\F4A7"

.ico-sim-alert:before 
	content "\F4A8"

.ico-sim-off:before 
	content "\F4A9"

.ico-sitemap:before 
	content "\F4AA"

.ico-skip-backward:before 
	content "\F4AB"

.ico-skip-forward:before 
	content "\F4AC"

.ico-skip-next:before 
	content "\F4AD"

.ico-skip-next-circle:before 
	content "\F661"

.ico-skip-next-circle-outline:before 
	content "\F662"

.ico-skip-previous:before 
	content "\F4AE"

.ico-skip-previous-circle:before 
	content "\F663"

.ico-skip-previous-circle-outline:before 
	content "\F664"

.ico-skull:before 
	content "\F68B"

.ico-skype:before 
	content "\F4AF"

.ico-skype-business:before 
	content "\F4B0"

.ico-slack:before 
	content "\F4B1"

.ico-sleep:before 
	content "\F4B2"

.ico-sleep-off:before 
	content "\F4B3"

.ico-smoking:before 
	content "\F4B4"

.ico-smoking-off:before 
	content "\F4B5"

.ico-snapchat:before 
	content "\F4B6"

.ico-snowflake:before 
	content "\F716"

.ico-snowman:before 
	content "\F4B7"

.ico-soccer:before 
	content "\F4B8"

.ico-sofa:before 
	content "\F4B9"

.ico-solid:before 
	content "\F68C"

.ico-sort:before 
	content "\F4BA"

.ico-sort-alphabetical:before 
	content "\F4BB"

.ico-sort-ascending:before 
	content "\F4BC"

.ico-sort-descending:before 
	content "\F4BD"

.ico-sort-numeric:before 
	content "\F4BE"

.ico-sort-variant:before 
	content "\F4BF"

.ico-soundcloud:before 
	content "\F4C0"

.ico-source-branch:before 
	content "\F62C"

.ico-source-commit:before 
	content "\F717"

.ico-source-commit-end:before 
	content "\F718"

.ico-source-commit-end-local:before 
	content "\F719"

.ico-source-commit-local:before 
	content "\F71A"

.ico-source-commit-next-local:before 
	content "\F71B"

.ico-source-commit-start:before 
	content "\F71C"

.ico-source-commit-start-next-local:before 
	content "\F71D"

.ico-source-fork:before 
	content "\F4C1"

.ico-source-merge:before 
	content "\F62D"

.ico-source-pull:before 
	content "\F4C2"

.ico-speaker:before 
	content "\F4C3"

.ico-speaker-off:before 
	content "\F4C4"

.ico-speaker-wireless:before 
	content "\F71E"

.ico-speedometer:before 
	content "\F4C5"

.ico-spellcheck:before 
	content "\F4C6"

.ico-spotify:before 
	content "\F4C7"

.ico-spotlight:before 
	content "\F4C8"

.ico-spotlight-beam:before 
	content "\F4C9"

.ico-spray:before 
	content "\F665"

.ico-square-inc:before 
	content "\F4CA"

.ico-square-inc-cash:before 
	content "\F4CB"

.ico-stackexchange:before 
	content "\F60B"

.ico-stackoverflow:before 
	content "\F4CC"

.ico-stadium:before 
	content "\F71F"

.ico-stairs:before 
	content "\F4CD"

.ico-star:before 
	content "\F4CE"

.ico-star-circle:before 
	content "\F4CF"

.ico-star-half:before 
	content "\F4D0"

.ico-star-off:before 
	content "\F4D1"

.ico-star-outline:before 
	content "\F4D2"

.ico-steam:before 
	content "\F4D3"

.ico-steering:before 
	content "\F4D4"

.ico-step-backward:before 
	content "\F4D5"

.ico-step-backward-2:before 
	content "\F4D6"

.ico-step-forward:before 
	content "\F4D7"

.ico-step-forward-2:before 
	content "\F4D8"

.ico-stethoscope:before 
	content "\F4D9"

.ico-sticker:before 
	content "\F5D0"

.ico-stocking:before 
	content "\F4DA"

.ico-stop:before 
	content "\F4DB"

.ico-stop-circle:before 
	content "\F666"

.ico-stop-circle-outline:before 
	content "\F667"

.ico-store:before 
	content "\F4DC"

.ico-store-24-hour:before 
	content "\F4DD"

.ico-stove:before 
	content "\F4DE"

.ico-subdirectory-arrow-left:before 
	content "\F60C"

.ico-subdirectory-arrow-right:before 
	content "\F60D"

.ico-subway:before 
	content "\F6AB"

.ico-subway-variant:before 
	content "\F4DF"

.ico-sunglasses:before 
	content "\F4E0"

.ico-surround-sound:before 
	content "\F5C5"

.ico-svg:before 
	content "\F720"

.ico-swap-horizontal:before 
	content "\F4E1"

.ico-swap-vertical:before 
	content "\F4E2"

.ico-swim:before 
	content "\F4E3"

.ico-switch:before 
	content "\F4E4"

.ico-sword:before 
	content "\F4E5"

.ico-sync:before 
	content "\F4E6"

.ico-sync-alert:before 
	content "\F4E7"

.ico-sync-off:before 
	content "\F4E8"

.ico-tab:before 
	content "\F4E9"

.ico-tab-unselected:before 
	content "\F4EA"

.ico-table:before 
	content "\F4EB"

.ico-table-column-plus-after:before 
	content "\F4EC"

.ico-table-column-plus-before:before 
	content "\F4ED"

.ico-table-column-remove:before 
	content "\F4EE"

.ico-table-column-width:before 
	content "\F4EF"

.ico-table-edit:before 
	content "\F4F0"

.ico-table-large:before 
	content "\F4F1"

.ico-table-row-height:before 
	content "\F4F2"

.ico-table-row-plus-after:before 
	content "\F4F3"

.ico-table-row-plus-before:before 
	content "\F4F4"

.ico-table-row-remove:before 
	content "\F4F5"

.ico-tablet:before 
	content "\F4F6"

.ico-tablet-android:before 
	content "\F4F7"

.ico-tablet-ipad:before 
	content "\F4F8"

.ico-tag:before 
	content "\F4F9"

.ico-tag-faces:before 
	content "\F4FA"

.ico-tag-heart:before 
	content "\F68A"

.ico-tag-multiple:before 
	content "\F4FB"

.ico-tag-outline:before 
	content "\F4FC"

.ico-tag-plus:before 
	content "\F721"

.ico-tag-remove:before 
	content "\F722"

.ico-tag-text-outline:before 
	content "\F4FD"

.ico-target:before 
	content "\F4FE"

.ico-taxi:before 
	content "\F4FF"

.ico-teamviewer:before 
	content "\F500"

.ico-telegram:before 
	content "\F501"

.ico-television:before 
	content "\F502"

.ico-television-guide:before 
	content "\F503"

.ico-temperature-celsius:before 
	content "\F504"

.ico-temperature-fahrenheit:before 
	content "\F505"

.ico-temperature-kelvin:before 
	content "\F506"

.ico-tennis:before 
	content "\F507"

.ico-tent:before 
	content "\F508"

.ico-terrain:before 
	content "\F509"

.ico-test-tube:before 
	content "\F668"

.ico-text-shadow:before 
	content "\F669"

.ico-text-to-speech:before 
	content "\F50A"

.ico-text-to-speech-off:before 
	content "\F50B"

.ico-textbox:before 
	content "\F60E"

.ico-texture:before 
	content "\F50C"

.ico-theater:before 
	content "\F50D"

.ico-theme-light-dark:before 
	content "\F50E"

.ico-thermometer:before 
	content "\F50F"

.ico-thermometer-lines:before 
	content "\F510"

.ico-thumb-down:before 
	content "\F511"

.ico-thumb-down-outline:before 
	content "\F512"

.ico-thumb-up:before 
	content "\F513"

.ico-thumb-up-outline:before 
	content "\F514"

.ico-thumbs-up-down:before 
	content "\F515"

.ico-ticket:before 
	content "\F516"

.ico-ticket-account:before 
	content "\F517"

.ico-ticket-confirmation:before 
	content "\F518"

.ico-ticket-percent:before 
	content "\F723"

.ico-tie:before 
	content "\F519"

.ico-tilde:before 
	content "\F724"

.ico-timelapse:before 
	content "\F51A"

.ico-timer:before 
	content "\F51B"

.ico-timer-10:before 
	content "\F51C"

.ico-timer-3:before 
	content "\F51D"

.ico-timer-off:before 
	content "\F51E"

.ico-timer-sand:before 
	content "\F51F"

.ico-timer-sand-empty:before 
	content "\F6AC"

.ico-timetable:before 
	content "\F520"

.ico-toggle-switch:before 
	content "\F521"

.ico-toggle-switch-off:before 
	content "\F522"

.ico-tooltip:before 
	content "\F523"

.ico-tooltip-edit:before 
	content "\F524"

.ico-tooltip-image:before 
	content "\F525"

.ico-tooltip-outline:before 
	content "\F526"

.ico-tooltip-outline-plus:before 
	content "\F527"

.ico-tooltip-text:before 
	content "\F528"

.ico-tooth:before 
	content "\F529"

.ico-tor:before 
	content "\F52A"

.ico-tower-beach:before 
	content "\F680"

.ico-tower-fire:before 
	content "\F681"

.ico-traffic-light:before 
	content "\F52B"

.ico-train:before 
	content "\F52C"

.ico-tram:before 
	content "\F52D"

.ico-transcribe:before 
	content "\F52E"

.ico-transcribe-close:before 
	content "\F52F"

.ico-transfer:before 
	content "\F530"

.ico-transit-transfer:before 
	content "\F6AD"

.ico-translate:before 
	content "\F5CA"

.ico-treasure-chest:before 
	content "\F725"

.ico-tree:before 
	content "\F531"

.ico-trello:before 
	content "\F532"

.ico-trending-down:before 
	content "\F533"

.ico-trending-neutral:before 
	content "\F534"

.ico-trending-up:before 
	content "\F535"

.ico-triangle:before 
	content "\F536"

.ico-triangle-outline:before 
	content "\F537"

.ico-trophy:before 
	content "\F538"

.ico-trophy-award:before 
	content "\F539"

.ico-trophy-outline:before 
	content "\F53A"

.ico-trophy-variant:before 
	content "\F53B"

.ico-trophy-variant-outline:before 
	content "\F53C"

.ico-truck:before 
	content "\F53D"

.ico-truck-delivery:before 
	content "\F53E"

.ico-truck-trailer:before 
	content "\F726"

.ico-tshirt-crew:before 
	content "\F53F"

.ico-tshirt-v:before 
	content "\F540"

.ico-tumblr:before 
	content "\F541"

.ico-tumblr-reblog:before 
	content "\F542"

.ico-tune:before 
	content "\F62E"

.ico-tune-vertical:before 
	content "\F66A"

.ico-twitch:before 
	content "\F543"

.ico-twitter:before 
	content "\F544"

.ico-twitter-box:before 
	content "\F545"

.ico-twitter-circle:before 
	content "\F546"

.ico-twitter-retweet:before 
	content "\F547"

.ico-ubuntu:before 
	content "\F548"

.ico-umbraco:before 
	content "\F549"

.ico-umbrella:before 
	content "\F54A"

.ico-umbrella-outline:before 
	content "\F54B"

.ico-undo:before 
	content "\F54C"

.ico-undo-variant:before 
	content "\F54D"

.ico-unfold-less:before 
	content "\F54E"

.ico-unfold-more:before 
	content "\F54F"

.ico-ungroup:before 
	content "\F550"

.ico-unity:before 
	content "\F6AE"

.ico-untappd:before 
	content "\F551"

.ico-update:before 
	content "\F6AF"

.ico-upload:before 
	content "\F552"

.ico-usb:before 
	content "\F553"

.ico-vector-arrange-above:before 
	content "\F554"

.ico-vector-arrange-below:before 
	content "\F555"

.ico-vector-circle:before 
	content "\F556"

.ico-vector-circle-variant:before 
	content "\F557"

.ico-vector-combine:before 
	content "\F558"

.ico-vector-curve:before 
	content "\F559"

.ico-vector-difference:before 
	content "\F55A"

.ico-vector-difference-ab:before 
	content "\F55B"

.ico-vector-difference-ba:before 
	content "\F55C"

.ico-vector-intersection:before 
	content "\F55D"

.ico-vector-line:before 
	content "\F55E"

.ico-vector-point:before 
	content "\F55F"

.ico-vector-polygon:before 
	content "\F560"

.ico-vector-polyline:before 
	content "\F561"

.ico-vector-rectangle:before 
	content "\F5C6"

.ico-vector-selection:before 
	content "\F562"

.ico-vector-square:before 
	content "\F001"

.ico-vector-triangle:before 
	content "\F563"

.ico-vector-union:before 
	content "\F564"

.ico-verified:before 
	content "\F565"

.ico-vibrate:before 
	content "\F566"

.ico-video:before 
	content "\F567"

.ico-video-off:before 
	content "\F568"

.ico-video-switch:before 
	content "\F569"

.ico-view-agenda:before 
	content "\F56A"

.ico-view-array:before 
	content "\F56B"

.ico-view-carousel:before 
	content "\F56C"

.ico-view-column:before 
	content "\F56D"

.ico-view-dashboard:before 
	content "\F56E"

.ico-view-day:before 
	content "\F56F"

.ico-view-grid:before 
	content "\F570"

.ico-view-headline:before 
	content "\F571"

.ico-view-list:before 
	content "\F572"

.ico-view-module:before 
	content "\F573"

.ico-view-parallel:before 
	content "\F727"

.ico-view-quilt:before 
	content "\F574"

.ico-view-sequential:before 
	content "\F728"

.ico-view-stream:before 
	content "\F575"

.ico-view-week:before 
	content "\F576"

.ico-vimeo:before 
	content "\F577"

.ico-vine:before 
	content "\F578"

.ico-violin:before 
	content "\F60F"

.ico-visualstudio:before 
	content "\F610"

.ico-vk:before 
	content "\F579"

.ico-vk-box:before 
	content "\F57A"

.ico-vk-circle:before 
	content "\F57B"

.ico-vlc:before 
	content "\F57C"

.ico-voice:before 
	content "\F5CB"

.ico-voicemail:before 
	content "\F57D"

.ico-volume-high:before 
	content "\F57E"

.ico-volume-low:before 
	content "\F57F"

.ico-volume-medium:before 
	content "\F580"

.ico-volume-off:before 
	content "\F581"

.ico-vpn:before 
	content "\F582"

.ico-walk:before 
	content "\F583"

.ico-wallet:before 
	content "\F584"

.ico-wallet-giftcard:before 
	content "\F585"

.ico-wallet-membership:before 
	content "\F586"

.ico-wallet-travel:before 
	content "\F587"

.ico-wan:before 
	content "\F588"

.ico-washing-machine:before 
	content "\F729"

.ico-watch:before 
	content "\F589"

.ico-watch-export:before 
	content "\F58A"

.ico-watch-import:before 
	content "\F58B"

.ico-watch-vibrate:before 
	content "\F6B0"

.ico-water:before 
	content "\F58C"

.ico-water-off:before 
	content "\F58D"

.ico-water-percent:before 
	content "\F58E"

.ico-water-pump:before 
	content "\F58F"

.ico-watermark:before 
	content "\F612"

.ico-weather-cloudy:before 
	content "\F590"

.ico-weather-fog:before 
	content "\F591"

.ico-weather-hail:before 
	content "\F592"

.ico-weather-lightning:before 
	content "\F593"

.ico-weather-lightning-rainy:before 
	content "\F67D"

.ico-weather-night:before 
	content "\F594"

.ico-weather-partlycloudy:before 
	content "\F595"

.ico-weather-pouring:before 
	content "\F596"

.ico-weather-rainy:before 
	content "\F597"

.ico-weather-snowy:before 
	content "\F598"

.ico-weather-snowy-rainy:before 
	content "\F67E"

.ico-weather-sunny:before 
	content "\F599"

.ico-weather-sunset:before 
	content "\F59A"

.ico-weather-sunset-down:before 
	content "\F59B"

.ico-weather-sunset-up:before 
	content "\F59C"

.ico-weather-windy:before 
	content "\F59D"

.ico-weather-windy-variant:before 
	content "\F59E"

.ico-web:before 
	content "\F59F"

.ico-webcam:before 
	content "\F5A0"

.ico-webhook:before 
	content "\F62F"

.ico-webpack:before 
	content "\F72A"

.ico-wechat:before 
	content "\F611"

.ico-weight:before 
	content "\F5A1"

.ico-weight-kilogram:before 
	content "\F5A2"

.ico-whatsapp:before 
	content "\F5A3"

.ico-wheelchair-accessibility:before 
	content "\F5A4"

.ico-white-balance-auto:before 
	content "\F5A5"

.ico-white-balance-incandescent:before 
	content "\F5A6"

.ico-white-balance-iridescent:before 
	content "\F5A7"

.ico-white-balance-sunny:before 
	content "\F5A8"

.ico-widgets:before 
	content "\F72B"

.ico-wifi:before 
	content "\F5A9"

.ico-wifi-off:before 
	content "\F5AA"

.ico-wii:before 
	content "\F5AB"

.ico-wiiu:before 
	content "\F72C"

.ico-wikipedia:before 
	content "\F5AC"

.ico-window-close:before 
	content "\F5AD"

.ico-window-closed:before 
	content "\F5AE"

.ico-window-maximize:before 
	content "\F5AF"

.ico-window-minimize:before 
	content "\F5B0"

.ico-window-open:before 
	content "\F5B1"

.ico-window-restore:before 
	content "\F5B2"

.ico-windows:before 
	content "\F5B3"

.ico-wordpress:before 
	content "\F5B4"

.ico-worker:before 
	content "\F5B5"

.ico-wrap:before 
	content "\F5B6"

.ico-wrench:before 
	content "\F5B7"

.ico-wunderlist:before 
	content "\F5B8"

.ico-xaml:before 
	content "\F673"

.ico-xbox:before 
	content "\F5B9"

.ico-xbox-controller:before 
	content "\F5BA"

.ico-xbox-controller-off:before 
	content "\F5BB"

.ico-xda:before 
	content "\F5BC"

.ico-xing:before 
	content "\F5BD"

.ico-xing-box:before 
	content "\F5BE"

.ico-xing-circle:before 
	content "\F5BF"

.ico-xml:before 
	content "\F5C0"

.ico-yeast:before 
	content "\F5C1"

.ico-yelp:before 
	content "\F5C2"

.ico-yin-yang:before 
	content "\F67F"

.ico-youtube-play:before 
	content "\F5C3"

.ico-zip-box:before 
	content "\F5C4"
