nested = 
	border-radius inherit
	background-color rgba(0,0,0,0.15)
	display inline-block
	padding 0.125em 0.5em
	margin 0.375em
	vertical-align 0

suffix =
	{nested}
	margin-left 0.75em

prefix = 
	{nested}
	margin-right 0.75em


//
// Buttons
// =============================================================================

input[type=submit],
button,
.button 
	display inline-flex
	flex-direction row
	align-items center 
	text-align left
	font-family font-primary
	text-decoration none
	border 0px
	padding btn-padding
	rounded()
	btn(get-color('state'))
	text-clip()	

	&.-raw
		padding 0px
		border 0px
		background-color transparent
	
	&.-flat
		for label, data in theme
			if label == 'default'
				.theme &
					background-color transparent
					color: data.text
					&:hover, &:focus, &.-hover, &.-focus
						background-color: rgba(data.text, 0.1)
					&:active, &.-active
						background-color: rgba(data.text, 0.2)
			else
				.theme.-{label} &
					background-color transparent
					color: data.text
					&:hover, &:focus, &.-hover, &.-focus
						background-color: rgba(data.text, 0.1)
					&:active, &.-active
						background-color: rgba(data.text, 0.2)

	// Flat colors variant
	for label, color in colors.flat
		&.-{label}
			color inherit
			background-color transparent
			
			&:hover, &:focus, &.-hover, &.-focus
				color inherit
				background-color rgba(color, 0.1) 
			
			&:active, &.-active
				color inherit
				background-color rgba(color, 0.2)			
	
	//
	// States variant
	// --------------------------------------------------
		
	for state, color in colors.state
		&.-{state}
			btn(color)

	//
	// Bordered variant
	// --------------------------------------------------

	&.-bordered 
		padding "calc(%s - %s) calc(%s - %s)" % ((0.5em) thickness (1.5em) thickness)
		background-color: transparent;
		border: thickness solid get-color('state');
		color: darken(get-color('state'), 30%);

		&:hover, &:focus, &.-hover, &.-focus
			auto-bg(get-color('state'));
		
		&:active, &.-active
			auto-bg(lighten(get-color('state'), 10%))
			border-color lighten(get-color('state'), 10%)
		
		&.-prefix
			padding-top 0
			padding-bottom 0
			padding-left 0 
			
		&.-suffix
			padding-top 0
			padding-bottom 0
			padding-right 0 
		
		//
		// Bordered states variant
		// --------------------------------------------------
			
		for state, color in colors.state
			&.-{state}
				border thickness solid color
				color color

				&:hover, &:focus, &.-hover, &.-focus
					auto-bg(color)
				
				&:active, &.-active
					auto-bg(lighten(color, 10%))
					border-color lighten(color, 10%)

	//
	// Prefix & suffix variant
	// --------------------------------------------------
	&.-prefixed, &.-suffixed
		padding-top 0
		padding-bottom 0

	.prefix, .suffix, .nested
		&.-embed
			width 1.75em
			height 1.75em
			background-position center
			background-size cover
			background-repeat no-repeat
		&.-flat
			background-color transparent
		&.-ico
			background-color transparent

	.nested
		{nested}

	.prefix
		{prefix}
	
	.suffix
		{suffix}
	
	//
	// Prefix variant
	// --------------------------------------------------

	&.-prefixed
		padding-left 0

	//
	// Suffix variant
	// --------------------------------------------------

	&.-suffixed
		padding-right 0
	
	//
	// Position variant
	// --------------------------------------------------
	&.-fluid
		width 100%
	
	//
	// Content position variant
	// --------------------------------------------------
	&.-left
		justify-content flex-start
	&.-center
		justify-content center
	&.-right
		justify-content flex-end
	
	&.-square
		padding btn-padding-square

	&.-condensed
		padding btn-padding[0]*0.5 btn-padding[1]*0.5

	&.-condensed.-square
		padding btn-padding-square[0]*0.5 btn-padding-square[1]*0.5

	//
	// Size variant
	// --------------------------------------------------
	for size, value in font.size
		if size != 'default'
			&.-{size}
				font-size value