/* Base for label styling */
input[type="checkbox"],
input[type="radio"] 
	height 1em
	width 1em
	line-height normal
	padding 0
	vertical-align middle

label 	
	input[type="checkbox"],
	input[type="radio"]
		margin-right 0.5em


[type="checkbox"], [type="radio"]
	display none

	& + label
		position: relative;
		center()
		rounded()
		display inline-flex
		cursor: pointer;
		padding 0.25em 0.5em
		padding-right 1em

	// Flat colors variant
	for label, color in colors.flat
		& + label.-{label}
			color color
			background-color transparent
			
			&:hover, &:focus, &.-hover, &.-focus
				background-color rgba(color, 0.1)
			
			&:active, &.-active
				background-color rgba(color, 0.2)

		& + label.-{label}:before 
			border-color rgba(color, 0.2)
		
		&:checked + label.-{label}
			background-color rgba(color, 0.1)
		//@extend .button, .button.-prefixed, .button.-darky
	

	/* checkbox aspect */
	& + label:before 
		margin-right 0.5em
		center()
		width: 'calc(1em + %s)' % thickness; 
		height: 'calc(1em + %s)' % thickness;
		border: thickness solid rgba(auto-color(get-color('state')), 0.2)
		background: transparent;
		transition transition
	
	
	/* disabled checkbox */
	&:disabled + label {
		opacity: 0.5;
	}


[type="checkbox"]
	& + label:before
		ico(check)
		rounded()
		color transparent	
	
	&:checked + label:before 
		background-color get-color('theme')
		border-color get-color('theme')
		color white

[type="radio"]
	& + label:before
		ico(checkbox-blank-circle)
		round()
		color transparent	
	
	&:checked + label:before 
		border-color get-color('theme')
		color get-color('theme');