//
// Form components
// =============================================================================

input,
select,
textarea 
	font-family font-primary

input:not([type="submit"]),
textarea 
	width 100%


input[type="file"],
input[type="image"],
	height auto
	width auto

@require 'input'

select 				
	@extends .button
	width auto

	&[multiple] 
		height auto
		width 100%
		padding: 0

	&::-ms-expand { display: none; }

	&::-ms-value { color: currentColor; }

	&:focus, .-focus
		border-bottom-left-radius 0px !important
		border-bottom-right-radius 0px !important
		@extend .button.-active

		&.-lighty
			@extend .button.-lighty.-active
		&.-darky
			@extend .button.-darky.-active
		
		for state, color in colors.state
			&.-{state}
				@extend .button.-{state}.-active
		
		&.-bordered 
			@extend .button.-bordered.-active

			for state, color in colors.state
				&.-{state}
					@extend .button.-bordered.-{state}.-active

	option 
		padding 0.5em
		background-color white
		color get-color('text')

.select
	padding 0px
	position relative
	rounded()
	
	&::after
		ico('chevron-down')
		padding 0.5em 0.75em
		position absolute
		top 0px
		right 0px
		pointer-events none

	select
		border-radius inherit
		width 100%
		padding-right 2.5em
		-webkit-appearance none
    	-moz-appearance none
    	
    	&::-ms-expand
    		display none
    		
label 
	display block

// Form spacing
.form-field
	margin-bottom grid-padding

	&.-last
		margin-bottom 0px
	
	.label
		display inline-block
		margin-bottom 0.5em
		font-weight bold

	// Helper text
	.help
		display block
		margin-top 0.5em
		font-size 80%
		
		//
		// States variant
		// --------------------------------------------------
			
		for state, color in colors.state
			&.-{state}
				color color