.ico::before,
	display inline-block
	font-family "Material Design Icons"
	font-size inherit
	font-style normal
	text-rendering auto
	line-height inherit
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	transform translate(0, 0)

.ico-left
	margin-left 0.25*grid-padding

.ico-right
	margin-right 0.25*grid-padding

.ico-dark 
	color rgba(0, 0, 0, 0.54)
.ico-dark.ico-inactive 
	color rgba(0, 0, 0, 0.26)

.ico-light 
	color white
.ico-light.ico-inactive 
	color rgba(255, 255, 255, 0.3)

.ico-rotate-45 
	-webkit-transform rotate(45deg)
	-ms-transform rotate(45deg)
	transform rotate(45deg)

.ico-rotate-90 
	-webkit-transform rotate(90deg)
	-ms-transform rotate(90deg)
	transform rotate(90deg)

.ico-rotate-135 
	-webkit-transform rotate(135deg)
	-ms-transform rotate(135deg)
	transform rotate(135deg)

.ico-rotate-180 
	-webkit-transform rotate(180deg)
	-ms-transform rotate(180deg)
	transform rotate(180deg)

.ico-rotate-225 
	-webkit-transform rotate(225deg)
	-ms-transform rotate(225deg)
	transform rotate(225deg)

.ico-rotate-270 
	-webkit-transform rotate(270deg)
	-ms-transform rotate(270deg)
	transform rotate(270deg)

.ico-rotate-315 
	-webkit-transform rotate(315deg)
	-ms-transform rotate(315deg)
	transform rotate(315deg)

.ico-flip-horizontal 
	-webkit-transform scaleX(-1)
	transform scaleX(-1)
	filter FlipH
	-ms-filter "FlipH"

.ico-flip-vertical 
	-webkit-transform scaleY(-1)
	transform scaleY(-1)
	filter FlipV
	-ms-filter "FlipV"