input[type=text],
input[type=password],
input[type=search],
input[type=number],
textarea,
.form-input
	rounded()
	border thickness solid get-color('state', 'light')
	padding 'calc(0.5em - %s)' % thickness 'calc(0.75em - %s)' % thickness !important
	
	&:hover
		border-color darken(get-color('state', 'light'), 5%)
	
	&:focus, &.-active
		border-color get-color('theme')
	
	&.-lighty
		border thickness solid rgba(255, 255, 255, 0.1)
		&:hover
			border-color rgba(255, 255, 255, 0.2)
		&:focus, &.-active
			border-color rgba(255, 255, 255, 0.3)
			
	&.-darky
		border thickness solid rgba(0, 0, 0, 0.1)
		&:hover
			border-color rgba(0, 0, 0, 0.2)
		&:focus, &.-active
			border-color rgba(0, 0, 0, 0.3)
		
	//
	// States variant
	// --------------------------------------------------
		
	for state, color in colors.state
		&.-{state}
			border-color color
	
	//
	// Position variant
	// --------------------------------------------------
	&.-fluid
		width 100%
	

.input-file, .input-color
	@extends .button, .button.-prefixed
	width 100%

	.input
		visibility hidden
		width 0px
		height 0px
		padding 0px
		margin 0px
	
	&.-embed
		position relative
		min-width 10em
		min-height 10em
		width 100%
		padding-bottom 100%
		background-position center
		background-size cover
		background-repeat no-repeat
	
	&.-embed:after
		center()
		ico('folder-upload')
		color rgba(get-color('text', 'light'), 0.8)
		position absolute
		top 0px
		left 0px
		width 100%
		height 100%
		background-color rgba(0,0,0,0.1)
		opacity 0
		font-size 10em
	
	&.-embed:hover:after
		opacity 1

	
.input-color
	.prefix
		width 1.75em
		height 1.75em