//
// Scrollbar
// =============================================================================

// Chrome style
/*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-corner {
  background: transparent;
}*/