//
// Spinner
// =============================================================================

.spinner
	content ''
	display inline-block
	animation rotate .5s infinite linear
	border-radius 50%
	border 2px solid rgba(0, 0, 0, 0.2)
	border-right-color transparent
	border-bottom-color transparent
	height 1em
	width 1em
	
	//
	// States variant
	// --------------------------------------------------
		
	for state, color in colors.state
		&.-{state}
			border-left-color color
			border-top-color color
	
	//
	// Size variant
	// --------------------------------------------------
		
	for label, size in font.size
		&.-{label}
			height size
			width size

@keyframes rotate
	0% 
		transform: rotate(0deg);

	100% 
		transform: rotate(360deg);