/*$table                           $grey-darker !default
$table-background                $white !default
$table-border                    $grey-lighter !default

$table-head                      $grey !default

$table-row-hover-background      $white-bis !default

$table-row-active-background     $primary !default
$table-row-active                $primary-invert !default

$table-row-even-background       $white-bis !default
$table-row-even-hover-background $white-ter !default*/


.table
	background-color white
	color auto-color(white)
	margin-bottom 1.5rem
	width 100%
	&.-middle
		td
			vertical-align middle

	td, th
		border 1px solid get-color('grey')
		border-width 0 0 1px
		padding 0.5em 0.75em
		vertical-align top
		// Modifiers
		&.-narrow
			white-space nowrap
			width 1%
	th
		text-align left
	tr
		&:hover
			background-color rgba(0, 0, 0, 0.03)
		&.-selected
			background-color get-color('theme')
			color white
			a, strong
				color white
			td, th
				border-color white
				color white
	thead
		td, th
			border-width 0 0 2px
	tfoot
		td, th
			border-width 2px 0 0
			color get-color('grey')
	tbody
		tr
			&:last-child
				td, th
					border-bottom-width 0
	// Modifiers
	&.-bordered
		td, th
			border-width 1px
		tr
			&:last-child
				td,
				th
					border-bottom-width 1px
	&.-narrow
		td, th
			padding 0.25em 0.5em
	&.-striped
		tbody
			tr:not(.-selected)
				&:nth-child(even)
					background-color darken(white, 5%)