//
// Tags
// =============================================================================

.tag
	padding 0.25em 0.75em
	display inline-block
	font-weight normal
	auto-bg(get-color('state'))
	rounded()
	
	&.-closeable
		padding-right 2.25em
		.close
			top 0.25em
			right 0.25em
			padding 0em 0.25em
	
	//
	// Rounded variant 
	// --------------------------------------------------
		
	&.-straight
		border-radius 0px
	
	//
	// Pill variant
	// --------------------------------------------------
		
	&.-pill
		border-radius 2em
	
	//
	// States variant
	// --------------------------------------------------
		
	for state, color in colors.state
		&.-{state}
			auto-bg(color)