//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 
	font-family font-title
	margin-top 0px
	
	&.-centered
		text-align center


h1, .h1 
	font-size font-size-huge
h2, .h2 
	font-size font-size-title
h3, .h3 
	font-size font-size-big
h4, .h4 
	font-size font-size-medium
h5, .h5 
	font-size font-size
h6, .h6 
	font-size font-size 
	font-style italic


//
// Horizontal rules
//

hr 
	margin 0.5*grid-gutter 0
	border 0px
	border-top 1px solid get-color('background')
	
	&.-lighty
		border-color rgba(255, 255, 255, 0.1)


	&.-darky
		border-color rgba(0, 0, 0, 0.1)
//
// Emphasis
//

small,
.small 
	font-size font-size-small
	font-weight normal

mark,
.mark 
	padding space
	background-color get-color('theme')

abbr,
.abbr 
	font-size 90%
	text-transform uppercase


// Blockquotes
blockquote,
.blockquote 
	padding (space / 2) space
	margin-bottom space
	border-left 1px solid get-color('theme')
	
a,
.a
	txt-btn(get-color('theme'))

.simple-title
	display inline-block
	text-transform uppercase
	font-weight bold