//
// Alert container
// =============================================================================

.alert-container
	position fixed
	top 0px
	right 0px
	bottom 0px
	left 0px
	z-index 100
	background-color rgba(0, 0, 0, 0.3)
	opacity 0
	pointer-events none
	center()
	
	//
	// Opened alert
	// --------------------------------------------------
		
	&.-open
		opacity 1
		pointer-events all

	//
	// Alert component
	// =============================================================================
		
	.alert
		rounded()
		background-color white
		padding grid-padding
		min-width 40vw
		min-height 30vh