//
// Card component
// =============================================================================

.card-box
	position relative
	border-radius 0.2rem
	auto-bg(white)

	//
	// Card labels
	// --------------------------------------------------
	&.-labelled
		.labels
			@extends [{grid-prefix}grid], [{grid-prefix}grid~='rows'], [{grid-prefix}grid~='half-gutters']
			z-index 1
			position absolute
			top 0px
			left 0px
			margin-left 0px
			> * { margin-left: 0px; }
		
		.labels .label
			@extends .tag
			font-size 80%
			border-bottom-left-radius 0px
			border-top-left-radius 0px
		
	//
	// Card labels
	// --------------------------------------------------
	&:hover > .floating-actions
		opacity 1
		
	& > .floating-actions
		z-index 2
		position absolute
		top 0px
		right 0px
		@extends [{grid-prefix}grid], [{grid-prefix}grid~='rows'], [{grid-prefix}grid~='half-gutters']
		opacity 0
		
		.action
			@extends .button, .button.-condensed.-square
			font-size 80%
			display flex
			overflow visible

	//
	// Fluid embed content, like image or media
	// --------------------------------------------------
		
	& > .embed { width: 100%; }
	& > .embed.-image 
		padding-bottom 100%

	//
	// Padded embed content
	// --------------------------------------------------
		
	& > .content
		padding 1.5*grid-gutter

		& > .title { margin-top: 0; }
		
	//
	// States variant
	// --------------------------------------------------
		
	for state, color in colors.state
		&.-{state}
			auto-bg(color)