//
// Dropdown component
// =============================================================================
.drop-down
	display inline-flex
	position relative
	
	//
	// Toggle button
	// --------------------------------------------------
	& > .toggle
		@extend .button, .button.-suffixed
		
		&.-bordered
			padding-top 0
			padding-bottom 0
			padding-right 0
			
			&:after
				padding 'calc(0.125em - %s)' % thickness 'calc(0.5em - %s)' % thickness
		
		//
		// Down icon
		// --------------------------------------------------
		&:after
			@extend .ico::before, .ico-chevron-down:before
			{suffix}
			background-color transparent
			transition transform transition
			display inline-block
			
	//
	// Opened dropdown
	// --------------------------------------------------
	&:focus, &.-open
		& > .toggle
			@extend .button.-active
			border-bottom-left-radius 0px
			border-bottom-right-radius 0px
			box-shadow shadow
			
			&:after
				transform rotate(180deg)
			
			&.-lighty
				@extend .button.-lighty.-active
			
			&.-darky
				@extend .button.-darky.-active
				
			for state, color in colors.state
				&.-{state}
					@extend .button.-{state}.-active
				
			&.-bordered
				@extend .button.-bordered.-active
				
				for state, color in colors.state
					&.-{state}
						@extend .button.-bordered.-{state}.-active
				
.drop-down:focus .drop-content, .drop-down.-open .drop-content, .drop-content:hover
	opacity 1
	transform translateY(0)
	box-shadow shadow
	pointer-events all
				
//
// Drop down body
// --------------------------------------------------
.drop-content
	opacity 0
	position absolute
	z-index 10
	top 100%
	transform translateY(-0.3em)
	transform-origin top
	background-color white
	
	pointer-events none
	
	border-bottom-left-radius round-radius
	border-bottom-right-radius round-radius
	
	// Default on left position
	right 0px
	border-top-left-radius round-radius
	border-top-right-radius 0px
	min-width "calc(100% + %s)" % (grid-gutter/2)
	
	// Right position
	&.-right
		left 0px
		border-top-right-radius round-radius
		border-top-left-radius 0px
		min-width "calc(100% + %s)" % (grid-gutter/2)
	
	&.-fit
		left 0px
		right 0px
		border-top-right-radius 0px
		border-top-left-radius 0px
		min-width 0px

//
// Dropdown block
// --------------------------------------------------
.drop-block
	padding (0.5*grid-padding)
	
	&.-list
		display flex
		flex-direction column

	& > .item
		rounded()
		text-clip()
		@extend .button
		text-decoration none
		
		&:not(:last-child)
			margin-bottom (0.5*grid-padding)