vertical = 
	flex-direction column
	> :not(:first-child), > :not(:last-child)
		border-radius 0px
		margin-top 0px
		margin-bottom 0px
		
	> :first-child
		border-top-right-radius round-radius
		border-bottom-right-radius 0px
		border-top-left-radius round-radius
		border-bottom-left-radius 0px
		margin-bottom 0px
		
	> :last-child
		border-top-right-radius 0px
		border-bottom-right-radius round-radius
		border-top-left-radius 0px
		border-bottom-left-radius round-radius
		margin-top 0px
	
	> :first-child:last-child
		border-top-right-radius round-radius
		border-bottom-right-radius round-radius
		border-top-left-radius round-radius
		border-bottom-left-radius round-radius
	
	&.-padded
		> :not(:last-child)
			margin-bottom grid-padding

.group-block
	display inline-flex

	> :not(:first-child), > :not(:last-child)
		border-radius 0px
		margin-left 0px
		margin-right 0px
		
	> :first-child
		border-top-right-radius 0px
		border-bottom-right-radius 0px
		border-top-left-radius round-radius
		border-bottom-left-radius round-radius
		margin-right 0px
		
	> :last-child
		border-top-right-radius round-radius
		border-bottom-right-radius round-radius
		border-top-left-radius 0px
		border-bottom-left-radius 0px
		margin-left 0px
	
	> :first-child:last-child
		border-top-right-radius round-radius
		border-bottom-right-radius round-radius
		border-top-left-radius round-radius
		border-bottom-left-radius round-radius
	
	&.-padded
		> :not(:last-child)
			margin-right grid-padding
	
	&.-vertical
		{vertical}

.group-block
	@media media-mobile 
		&.-m-vertical
			{vertical}
		
	@media media-tablet 
		&.-t-vertical
			{vertical}