.modal-box
    center()
    position absolute
    top 0px
    left 0px
    right 0px
    bottom 0px
    z-index 100
    background-color transparent
    opacity 0
    pointer-events none
    border-radius inherit
    

    &:target, &.-target
        opacity 1
        background-color rgba(0,0,0,0.1)
        pointer-events all

        .modal 
            transform translateY(0px)

    .modal
        @extend .card-box
        box-shadow shadow
        max-height 'calc(100% - %s)' % (2*grid-gutter)
        max-width 'calc(100% - %s)' % (2*grid-gutter)
        transform translateY(-1em)