//
// Navbar component
// =============================================================================

.nav-bar
	auto-bg(get-color('theme'))
	z-index 15
	flex-wrap nowrap !important
	
	*
		flex-wrap nowrap !important

	//
	// Fixed variant
	// --------------------------------------------------
		
	&.-fixed
		position fixed
		top 0px
		right 0px
		left 0px
		z-index 100
		box-shadow shadow

//
// Navtogglecomponent
// =============================================================================

.nav-toggle
	display none

//
// Main nav items container
// =============================================================================

.nav-main
	overflow auto
	height 3.5*grid-gutter

//
// Navitem component
// =============================================================================
 
.nav-item
	@extend .button, .button.-lighty
	padding btn-padding-square 

//
// Navbrand component
// =============================================================================

.nav-brand
	txt-btn(auto-color(get-color('theme')))
	display inline-block
	white-space nowrap
	font-size 150%
	font-weight 300
	position relative
	text-decoration none
	padding 0px 1em
	height 2.5*grid-gutter

//
// Body padding, needed when fixed variant is used
// --------------------------------------------------

.-nav-padding
	margin-top (6 * grid-gutter)

//
// Hamburger component, displayed on mobile navbar
// =============================================================================

.hamburger 
	cursor pointer
	transition-property opacity, filter
	transition-duration 0.15s
	transition-timing-function linear
	text-transform none
	background-color transparent
	overflow visible 
	&:hover 
		opacity 0.7 

.hamburger-box 
	width 2em
	height 1.25em
	display inline-block
	position relative 
	top -2px

.hamburger-inner 
	display block
	top 50%
	margin-top -2px 
	&, &:before, &:after 
		width 100%
		height 2px
		background-color #fff
		border-radius 0.2rem
		position absolute
		transition-property transform
		transition-duration 0.15s
		transition-timing-function ease 
	&:before, &:after 
		content ""
		display block 
	&:before 
		top -10px 
	&:after 
		bottom -10px 

.hamburger--slider 
	.hamburger-inner 
		top 2px 
		&:before 
			top 10px
			transition-property transform, opacity
			transition-timing-function ease
			transition-duration 0.15s 
		&:after 
			top 20px 

	&.-focus 
		.hamburger-inner 
			transform translate3d(0, 10px, 0) rotate(45deg) 
			&:before 
				transform rotate(-45deg) translate3d(-5.71429px, -6px, 0)
				opacity 0 
			&:after 
				transform translate3d(0, -20px, 0) rotate(-90deg) 

//
// Mobile navbar
// =============================================================================

@media media-mobile 
	body 
		position fixed
		top 4.5em
		bottom 0px
		height auto
		
	.nav-bar
		position fixed
		top 0px
		left 0px
		width 100vw
		height 4.5em
		overflow hidden
		
		[{grid-prefix}grid]
			flex-direction column
			align-items stretch
		
		&:target, &.-target
			height 100%
			max-height 100%
			overflow auto
			align-items flex-start

			.nav-open
				width 0px !important
			.nav-close
				width 2em !important
			
			@extend .hamburger--slider.-focus

		.drop-down
			.toggle
				display none
			.drop-content
				position relative
				rounded()
				opacity 1
				pointer-events all
				transform translateY(0px)
				min-width auto
				flex 1
	.nav-status
		flex-direction row !important
		align-items center !important

	.nav-brand, .nav-toggle
		min-width auto !important

	.nav-toggle
		display flex
	
	.nav-open
		width 2em !important
	.nav-close
		width 0px !important
	
	.nav-main
		height auto
		