//
// Notification container
// =============================================================================

.notification-container
	position fixed
	top 0px
	right 0px
	bottom 0px
	left 0px
	
	pointer-events none

//
// Notification component
// =============================================================================

.notification-box 
	pointer-events all
	padding 1em
	position relative
	auto-bg(white)

	.-clip
		text-clip()

	//
	// States variant
	// --------------------------------------------------
		
	for state, color in colors.state
		&.-{state}
			auto-bg(color)

	//
	// Surcharging the closeable variant
	// --------------------------------------------------
		
	&.-closeable
		.close::before
			top 1em
			right 1em