//
// Sidebar component
// =============================================================================

.side-bar
	overflow auto
	z-index 4
	width 300px
	background-color white

//
// Sidebar toggle component
// =============================================================================

.side-toggle
	display none !important
	position absolute
	font-size 2em
	bottom 0px
	right 'calc(-1em - %s)' % (2*grid-gutter)
	line-height 1
	z-index 5
	
	.ico
		display inline-block
	
	> *
		rounded()
		clickable(rgba(0,0,0,0.1))
		txt-clickable(auto-color(white)) 
		overflow hidden
		color auto-color(white)	
//
// Mobile sidebar
// --------------------------------------------------
@media media-mobile 
	.side-bar
		position absolute
		left 0px
		top 0px
		bottom 0px
		width 100%
		transform translateX(-100%)
		overflow visible

		&:target, &.-target
			transform translateX(0px)
			overflow auto

			.side-toggle
				right 0px
				> *
					//@extends .side-toggle .-focus
				.ico
					transform rotate(180deg)

			.side-open
				padding-left 0px
				padding-right 0px
				width 0px
			
			.side-close
				padding grid-gutter*0.5
				width 'calc(1em + %s)' % grid-gutter


	.side-toggle
		display flex !important
		
	.side-close
		padding-left 0px
		padding-right 0px
		width 0px