//
// Tabs component
// =============================================================================

.tab-container
	rounded()
	overflow hidden
	display inline-flex
	flex-direction column
	
	auto-bg(get-color('state'))
	

	> .tabs > *
		color rgba(auto-color(get-color('state')), 0.5)
		
		&:hover, &:active, &.-focus
			color auto-color(get-color('state'))

	for state, color in colors.state
		&.-{state}
			auto-bg(color)

			> .tabs > *
				color rgba(auto-color(color), 0.5)
				
				&:hover, &:active, &.-focus
					color auto-color(color)
				

	//
	// Tabs position variants
	// --------------------------------------------------

	&.-bottom
		> .tabs
			> *.-focus
				border-bottom 2px solid rgba(0, 0, 0, 0.1)
			
	&.-left, &.-right
		flex-direction row
		
		.tabs
			flex-direction column
			
		.tabs, .tabs > *
			transform rotateY(180deg)
			-ms-transform rotateY(180deg)
			-webkit-transform rotateY(180deg)
				
	//
	// Tab list
	// =============================================================================
		
	> .tabs
		display	inline-flex
		max-width 100%
		overflow-x auto
		transform rotateX(180deg)
		-ms-transform rotateX(180deg)
		-webkit-transform rotateX(180deg)
		white-space nowrap

		// List fill
		&:after
			content ''
			flex 1
		
		> *, &:after
			background-color rgba(255, 255, 255, 0.2)
		
		//
		// Tab list
		// =============================================================================
		
		> *
			background-color rgba(255, 255, 255, 0.2)
			transform rotateX(180deg)
			-ms-transform rotateX(180deg)
			-webkit-transform rotateX(180deg)
			display inline-block
			padding btn-padding
			
			.prefix
				margin-right 0.5em
			
			&:active, &.-focus
				background-color transparent
				padding btn-padding
				
	//
	// Tab contents
	// =============================================================================	
		
	> .contents
		flex 1
		overflow auto

[tab-content]
	display none !important

	&.-current
		display flex !important