.tool-tip
    position relative
    overflow visible

    > .title
        white-space nowrap
        z-index 1
        opacity 0
        pointer-events none
        position absolute
        padding  0.25*grid-gutter 0.5*grid-gutter
        auto-bg(get-color('state'))
        rounded()

    > .title:after
        content ''
        position absolute
        width 0px
        height 0px
        border grid-gutter*0.5 solid transparent
    
    &:hover > .title
        opacity 1
        pointer-events all

    // Top to default
    > .title
        text-align center
        bottom calc(100% + 0.1rem)
        left 50%
        transform translate(-50%, 0px)
        &:after
            top 100%
            left 'calc(50% - %s)' % (grid-gutter*0.5)
            border-top-color get-color('state')

    &:hover > .title
        transform translate(-50%, -(grid-gutter*0.5))

    // Bottom variant
    > .title.-bottom
        // Default reset
        bottom auto
        left auto
        &:after
            top auto
            border-top-color transparent
            left auto

        top calc(100% + 0.1rem)
        left 50%
        transform translate(-50%, 0px)
        &:after
            bottom 100%
            left 'calc(50% - %s)' % (grid-gutter*0.5)
            border-bottom-color get-color('state')

    &:hover > .title.-bottom
        transform translate(-50%, (grid-gutter*0.5))
    
    // Left variant
    > .title.-left
        // Default reset
        bottom auto
        left auto
        &:after
            top auto
            border-top-color transparent
            left auto

        right calc(100% + 0.1rem)
        top 50%
        transform translate(0px, -50%)
        &:after
            left 100%
            top 'calc(50% - %s)' % (grid-gutter*0.5)
            border-left-color get-color('state')

    &:hover > .title.-left
        transform translate(-(grid-gutter*0.5), -50%)
    
    // right variant
    > .title.-right
        // Default reset
        bottom auto
        left auto
        &:after
            top auto
            border-top-color transparent
            left auto

        left calc(100% + 0.1rem)
        top 50%
        transform translate(0px, -50%)
        &:after
            right 100%
            top 'calc(50% - %s)' % (grid-gutter*0.5)
            border-right-color get-color('state')

    &:hover > .title.-right
        transform translate((grid-gutter*0.5), -50%)
    
        
    for state, color in colors.state
        > .title.-{state}
            auto-bg(color)
        > .title.-{state}:after
            border-top-color color

        > .title.-{state}.-bottom:after
            border-top-color transparent
            border-bottom-color color
        
        > .title.-{state}.-left:after
            border-top-color transparent
            border-left-color color
        
        > .title.-{state}.-right:after
            border-top-color transparent
            border-right-color color
    
    for label, color in colors.flat
        bg-color = rgba(color, 0.75)
        > .title.-{label}
            auto-bg(bg-color)
        > .title.-{label}:after
            border-top-color bg-color

        > .title.-{label}.-bottom:after
            border-top-color transparent
            border-bottom-color bg-color
        
        > .title.-{label}.-left:after
            border-top-color transparent
            border-left-color bg-color
        
        > .title.-{label}.-right:after
            border-top-color transparent
            border-right-color bg-color