helper-name = 'flex'

.{helper-char}{helper-name}-center
	display flex
	align-items center

.{helper-char}{helper-name}-left
	display flex
	align-items flex-start

.{helper-char}{helper-name}-right
	display flex
	align-items flex-end


.{helper-char}{helper-name}-middle
	display flex
	justify-content center

.{helper-char}{helper-name}-top
	display flex
	justify-content flex-start

.{helper-char}{helper-name}-bottom
	display flex
	justify-content flex-end