/* BASED ON
/*
/* atGrid.css v4.0.0 - Attribute-based CSS Grid System
/* https://github.com/kolcethompsonco/atgrid.css
/* MIT License - James Kolce <james@kolcethompson.com>
/*
/* Updated by Jonas B
*/

//
// Styles
// ----------------------------------------

[{grid-prefix}container] 
	margin-left auto
	margin-right auto
	
	@media media-mobile 
		max-width 100%
		min-width 100%
	
	@media media-tablet 
		max-width break-tablet
		min-width break-tablet
	
	@media media-laptop 
		max-width break-laptop
		min-width break-laptop
	
	@media media-desktop 
		max-width break-desktop
		min-width break-desktop
	

[{grid-prefix}grid]
	display flex
	flex-wrap wrap

[{grid-prefix}grid~='no-wrap'] 
	flex-wrap nowrap

[{grid-prefix}grid~='no-shrink'] 
	> * 
		flex-shrink 0

[{grid-prefix}grid~='rows']
	flex-direction column
	
[{grid-prefix}grid~='rows-reverse']
	flex-direction column-reverse

[{grid-prefix}grid~='list']
	flex-direction column
	flex-wrap nowrap
	> *
		width 100%

[{grid-prefix}column] 
	flex 1


//
// Gutters by default
//

[{grid-prefix}grid~='gutters']
	&[{grid-prefix}grid~='list'] > *:not([{grid-prefix}grid~='gutters'])
		width 'calc(100% - %s)' % grid-gutter

	margin (grid-gutter / 2)
	&:empty
		margin 0px	
		
	> *
		margin (grid-gutter / 2)
		&:empty
			margin 0px
	
	> [{grid-prefix}grid~='gutters']
		margin 0px

[{grid-prefix}grid~='half-gutters']
	&[{grid-prefix}grid~='list'] > *:not([{grid-prefix}grid~='half-gutters'])
		width 'calc(100% - %s)' % (grid-gutter/2)

	margin (grid-gutter / 4)
	&:empty
		margin 0px	
		
	> *
		margin (grid-gutter / 4)
		&:empty
			margin 0px
	
	> [{grid-prefix}grid~='half-gutters']
		margin 0px

[{grid-prefix}grid~='padded']
	padding (grid-gutter / 2)
	&:empty
		padding 0px	
		
	> *
		padding (grid-gutter / 2)
		&:empty
			padding 0px
	
	> [{grid-prefix}grid~='padded']
		padding 0px

// [{grid-prefix}grid] 
// 	padding 0	
// 	> *
// 		padding 0	

// [{grid-prefix}grid~='gutters']
// 	padding (grid-gutter / 2)
// 	&:empty
// 		padding 0px	
		
// 	> *
// 		padding (grid-gutter / 2)
// 		&:empty
// 			padding 0px
// 	> [{grid-prefix}grid~='gutters']
// 		padding 0px



// [{grid-prefix}grid~='half-gutters']
// 	padding (grid-gutter / 4)
// 	&:empty
// 		padding 0px	
		
// 	> *
// 		padding (grid-gutter / 4)
// 		&:empty
// 			padding 0px
// 	> [{grid-prefix}grid~='half-gutters']
// 		padding 0px

//
// Alignment of all columns in a row
//
[{grid-prefix}grid] 
	align-items flex-start
	justify-content flex-start

[{grid-prefix}grid~="fluid"]
	align-items stretch
	justify-content stretch

[{grid-prefix}grid~="top"] 
	align-items flex-start


[{grid-prefix}grid~="middle"] 
	align-items center


[{grid-prefix}grid~="bottom"] 
	align-items flex-end
	

[{grid-prefix}grid~="left"] 
	justify-content flex-start


[{grid-prefix}grid~="center"] 
	justify-content center


[{grid-prefix}grid~="right"] 
	justify-content flex-end


//
// Responsive stuff
//

grid-mixin(prefix)
	for i in (1..grid-columns) 
		[{grid-prefix}column~=\'{prefix}{i}\']
			flex 0
			min-width (i/grid-columns) * 100%
			max-width (i/grid-columns) * 100%
		[{grid-prefix}grid~='gutters'] > [{grid-prefix}column~=\'{prefix}{i}\']:not([{grid-prefix}grid])
			min-width 'calc(%s - %s)' % (((i/grid-columns) * 100%) grid-gutter)
			max-width 'calc(%s - %s)' % (((i/grid-columns) * 100%) grid-gutter)
		[{grid-prefix}grid~='half-gutters'] > [{grid-prefix}column~=\'{prefix}{i}\']:not([{grid-prefix}grid])
			min-width 'calc(%s - %s)' % (((i/grid-columns) * 100%) (grid-gutter/2))
			max-width 'calc(%s - %s)' % (((i/grid-columns) * 100%) (grid-gutter/2))

grid-mixin('')
		
@media media-mobile 
	grid-mixin('m-')

@media media-tablet 
	grid-mixin('t-')
		
@media media-laptop 
	grid-mixin('l-')

@media media-desktop 
	grid-mixin('d-')
