helper-name = 'size'

.{helper-char}{helper-name}-screen
	width 100vw
	height 100vh

.{helper-char}{helper-name}-fluid
	width 100%
	height 100%

.{helper-char}{helper-name}-fluid-h
	width 100%

.{helper-char}{helper-name}-fluid-v
	height 100%