//
// Colors configuration
// --------------------------------------


// -- Raw colors --

colors = {
	// Blue
	blue: {
		dark: #2980b9,
		default: #3498db
	},

	// Darkblue
	darkblue: {
		dark: #2c3e50,
		default: #34495e
	},
	
	// Grey
	grey: {
		dark : #bdc3c7,
		default : #ecf0f1,
		light : #f1f1f1
	},

	// Red
	red: {
		dark : #c0392b,
		default : #e74c3c
	},

	// Green
	green: {
		dark : #27ae60,
		default : #2ecc71
	},

	// Orange
	orange: {
		dark : #d35400,
		default : #e67e22,
		light : #f39c12
	},

	// Yellow
	yellow: {
		default: #f1c40f
	}
	
}


// -- State colors --

colors['state'] = {
	default: white,
	success: colors.green.dark,
	info: colors.blue.dark,
	error: colors.red.dark,
	warning: darken(colors.orange.default, 5%),
	dark: colors.darkblue.dark,
	light: darken(colors.grey.default, 10%)
}

// -- Flat colors --
colors['flat'] = {
	darky: colors.darkblue.dark,
	lighty: white
}

// -- Text colors --

colors['text'] = {
	dark: colors.darkblue.dark,
	default: colors.darkblue.dark,
	light: #FFF
}


// -- Background colors --

colors['background'] = {
	default: colors.grey.light
}


// -- Theme colors --

colors['theme'] = {
	default: colors.blue.dark
}