//
// Typography configuration
// --------------------------------------

font = {
	size: {
		huge: 3rem,
		title: 2.5rem,
		big: 2rem,
		medium: 1.5rem,
		default: 1rem,
		small: 0.5rem,
		tiny: 0.2rem
	},
	type: {
		primary: {
			folder: '../fonts',
			label: "Lato"
		},
		mono: {
			label: "Consolas"
		},
		print:{
			label: "Georgia"
		}
	},
	icon: {
		folder: '../fonts',
		file: 'materialdesignicons-webfont',
		label: 'Material Design Icons',
	}
}

// Sizing
font-size-huge = 3rem
font-size-title = 2.5rem
font-size-big = 2rem
font-size-medium = 1.5rem
font-size = 1rem
font-size-small = 0.5rem
font-size-tiny = 0.2rem

// Fonts
font-primary = "Lato", "Helvetica", "Arial", sans-serif
font-secondary = "Lato", "Helvetica", "Arial", sans-serif
font-title = font-secondary
font-mono = "Consolas", monospace
font-print-primary = "Georgia", "Times New Roman", "Times", serif
font-print-secondary = "Georgia", "Times New Roman", "Times", serif

// Spacing
space = 1rem