theme = {
	default: {
		text: get-color('text', 'dark'),
		background: get-color('background'),
		foreground: #FFF
	},
	dark: {
		text: get-color('text', 'light'),
		background: get-color('darkblue'),
		foreground: get-color('darkblue', 'dark')
	}
}