jsonToProps(props, json)
	for propertie, value in props
		if typeof(value) == 'object'
			jsonToProps(value, json)
		else
			buildedValue = "" + value
			for key, dataValue in json
				buildedValue = replace(""+key, ""+dataValue, buildedValue)
			{propertie} s(buildedValue)