get-color(type, declinaison = 'default')
	return colors[type][declinaison]
	
auto-bg(bg-color)
	background-color bg-color
	color auto-color(bg-color)

auto-color(bg-color)
	if light(bg-color)
		get-color('text', 'dark')
	else
		get-color('text', 'light')