clickable(color)
	cursor default
	&:hover, &:focus, &.-hover, &.-focus
		background-color active(color)
		auto-color(color)
	&:active, &.-active
		background-color click(color)
		auto-color(color)

txt-clickable(color)
	cursor pointer
	&:hover, &:focus, &.-hover, &.-focus
		color active(color)
	&:active, &.-active
		color click(color)

active(color)
	if(light(color))
		return darken(color, 10%)
	return lighten(color, 10%)

click(color)
	if(light(color))
		return darken(color, 20%)
	return lighten(color, 20%)

btn(color)
	auto-bg(color)
	clickable(color)

txt-btn(color)
	color color 
	txt-clickable(color)